{% extends 'teacher_template/teacher_base.html' %}
{% block title %}MiGrade - Home{% endblock %}
{% block main_content %}
<section class="content">
  <div class="container d-flex justify-content-end p-4">
    <a class="nav-link" id="_roles" href="{% url 'home_adviser_teacher'%}">Home</a>
          <a id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.profile_image %}
            <img class="img-xs rounded-circle" src="{{ user.profile_image.url }}" alt="Profile image"> </a>
            {% else %}
                <p>No profile image available.</p>
            {% endif %}
          <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <div class="dropdown-header text-center">
              <p class="mb-1 font-weight-semibold">{{ user }}</p>
              <p class="fw-light text-muted mb-0">{{ user.email }}</p>
            </div>
            <a class="dropdown-item" href="{% url 'profile_page' %}"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile</a>
            <a class="dropdown-item" href="{% url 'teachers_activity' %}"><i class="dropdown-item-icon mdi mdi-calendar-check-outline text-primary me-2"></i> Activity</a>
            <a class="dropdown-item"  href="{% url 'logout_user' %}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
          </div>
        </div>

        <div class="card m-5">
              <div class="card-header d-flex justify-content-between align-center">
              <h5 class="mt-1">Dashboard</h5>
              <form method="post" action="{% url 'dashboard' %}">
                {% csrf_token %}
                <button type="submit" id="no-outline" class="text-decoration-none border-0 bg-transparent" title="Refresh">⟳</button>
              </form>
            </div>
            <div class="col-sm-12">
              <div class="statistics-details d-flex align-items-center justify-content-between p-5">
                <div>
                  <p class="statistics-title">Grade</p>
                  <h3 class="rate-percentage">{{ grade.name }}</h3>
                </div>
                <div>
                  <p class="statistics-title">Section</p>
                  <h3 class="rate-percentage">{{ section.name }}</h3>
                </div>
                <div>
                  <p class="statistics-title">Male Students</p>
                  <h3 class="rate-percentage">{{ num_male_students }}</h3>
                </div>
                <div class="d-none d-md-block">
                  <p class="statistics-title">Female Students</p>
                  <h3 class="rate-percentage">{{ num_female_students }}</h3>
                </div>
                <div class="d-none d-md-block">
                  <p class="statistics-title">Total</p>
                  <h3 class="rate-percentage">{{ num_students }}</h3>
                </div>  
              </div>
            </div>
            </div>

 
</section>

{% endblock main_content %}
