{% extends "base.html" %}
{% load static %}

{% block title %}MiGrade - Password Reset{% endblock %}
{% block content %}
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <div class="brand-logo text-center">
                                <img src="{% static 'star-admin/images/logo_migrade.png' %}" alt="logo">
                            </div>
                            <h3 class="font-weight-light my-4 text-center">Forgot Password?</h3>
                            {% if form.errors %}
                                <div class="alerta">
                                    <div id="form_errors" class=" text-danger d-flex justify-content-evenly align-items-center p-1 flex-column">
                                        {% for key, value in form.errors.items %}
                                            <p >{{ value }}</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endif %}
                            <form method="POST" id="form1">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="small mb-1" for="id_email">Email</label>
                                    <input type="email" name="email" class="form-control form-control-lg"
                                           autocomplete="email" maxlength="254" required id="id_email"
                                           placeholder="Enter email">
                                </div>
                                <div class="form-group mt-0 mb-3">
                                    <button type="submit" class="btn btn-primary d-flex justify-content-center align-center btn-lg container" id="upload_btn_1">
                                        <span class="spinner-grow spinner-grow-sm me-2" id="loadingIndicator1" style="display: none;" role="status"
                                        aria-hidden="true"></span>
                                        <span id="upload_btn_1_text">Submit</span>
                                       </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
          // Your JavaScript
  document.getElementById('form1').addEventListener('submit', function () {
    // Show the loading indicator for Form 1
    document.getElementById('loadingIndicator1').style.display = 'block';

     // Change the text to "Loading, please wait..."
     document.getElementById('upload_btn_1_text').innerText = 'please wait...';

    // Optionally, you can disable the submit button to prevent multiple submissions
    document.getElementById('upload_btn_1').setAttribute('disabled', 'true');
  });
    </script>
{% endblock %}
