<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: white;">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="icon-home menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>

          <!-- Manage Class -->
          <li class="nav-item nav-category">Manage</li>
          <!-- Teacher -->
          <li class="nav-item">
            <a class="nav-link" href="{% url  'manage_admin' %}">
              <i class="menu-icon mdi mdi-account-multiple-outline"></i>
              <span class="menu-title">Admin</span>
            </a>
          </li>
        </ul>
      </nav>
      