<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color: white;">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="mdi mdi-apps menu-icon"></i>
              <span class="menu-title">Home</span>
            </a>
          </li>
          <!-- Manage Class -->
          <li class="nav-item nav-category">Manage</li>
          <!-- Teacher -->
          <li class="nav-item">
            <a class="nav-link" href="{% url 'advisory_classes_mt' %}">
              <i class="menu-icon mdi mdi-account-multiple-outline"></i>
              <span class="menu-title">Advisory Classes</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'subject_classes_mt' %}">
              <i class="menu-icon mdi mdi-account-multiple-outline"></i>
              <span class="menu-title">Subject Classes</span>
            </a>
          </li>
        </ul>
      </nav>
      