{% extends 'master_template/master_base.html' %}

{% block page_title %}
    Distinct Sections
{% endblock page_title %}

{% block main_content %}
<style>
    .folder {
      list-style: none;
      width: 100%;
      display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
      cursor: pointer;
    }
    .fas:hover {
        color: rgb(104, 181, 253);
    }
    .fas{
        color: rgb(191, 221, 249);
    }
    .link{
        color: rgb(104, 181, 253);
    }
    .link:hover{
        text-decoration: underline;
        cursor: pointer;

    }
    .active:hover{
        cursor: pointer;
        text-decoration: underline;
    }
  </style>
<section class="container p-3 m-3">
    <div class="card p-5">
    <h5>
        <span class="link" onclick="home()">Advisory Classes</span> > 
        <span class="active" onclick="gradeUrl()">{{ grade }}</span>
    </h5>
    <div class="mt-3">
    <ul class="d-flex justify-content-start align-items-center folder">
        {% for section in distinct_sections %}
            <li onclick="advisory_summary('{{ grade }}','{{ section }}')" class="m-3 d-flex flex-column justify-content-start align-items-center">
                <i class="fas fa-folder fa-6x"></i>
                <p class="text-center">{{ section }}</p>
            </li>
        {% empty %}
            <li>No distinct sections found.</li>
        {% endfor %}
    </ul>
    </div>
</div>
</section>

<script>
    function advisory_summary(grade, section) {
        // Redirect to the subjects page passing the selected section and subject as parameters
       window.open("{% url 'advisory_summary' %}?grade=" + grade + "&section=" + section, "_blank");
    }
    function home() {
        // Redirect to the subject classes page
        window.location.href = "{% url 'advisory_classes_mt' %}";
    }
</script>
{% endblock main_content %}
