
{% extends 'master_template/master_base.html' %}
{% block page_title %}
    Master Teacher
{% endblock page_title %}
{% block main_content %}
<style>
  .folder {
    list-style: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    cursor: pointer;
  }
  .fas:hover {
        color: rgb(104, 181, 253);
    }
    .fas{
        color: rgb(191, 221, 249);
    }
</style>
<section class="container p-3 m-3">
  <div class="card p-5">
  <h5>Advisory Classes</h5>
  <div class="mt-3">
    <ul class="d-flex justify-content-start align-items-center folder">
        {% for grade in distinct_grades %}
        <li onclick="getDistinctSections('{{ grade }}')" id="grade_{{ forloop.counter }}" class=" m-3 d-flex flex-column justify-content-start align-items-center">
            <i class="fas fa-folder fa-6x "></i>
            <p class="text-center">{{ grade }} {{ section }}</p>
        </li>
               
    {% empty %}
        <li>No matching class records found.</li>
    {% endfor %}
    </ul>
  </div>
  </div>
</section>

<script>
    function getDistinctSections(grade) {
        // Redirect to the new view passing the grade as parameter
        window.location.href = "{% url 'advisory_sections' %}?grade=" + grade;
    }
    </script>
{% endblock main_content %}
