{% extends 'master_template/master_base.html' %}
{% block page_title %}
    Quarters for Section
{% endblock page_title %}
{% block main_content %}
<style>
    .folder {
      list-style: none;
      width: 100%;
      display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
      cursor: pointer;
    }
  </style>
<section class="container p-3 m-3">
    <div class="card p-5">
    <h5>
        <span onclick="home()">Subject Classes</span> > 
        <span onclick="gradeUrl()">{{ grade }}</span> > 
        <span onclick="sectionUrl('{{ grade }}')">{{ section }}</span> >
        <span onclick="subjectUrl('{{ grade }}', '{{ section }}')">{{ subject }}</span>
    </h5>
    <div class="mt-3">
        <ul class="d-flex justify-content-start align-items-center folder">
        {% for quarter in quarters %}
            <li class="m-3 d-flex flex-column justify-content-start align-items-center">
                <i class="fas fa-folder fa-6x"></i>
                <p class="text-center">{{ quarter }}</p>
                </li>
        {% empty %}
            <li>No quarters found for this section.</li>
        {% endfor %}
    </ul>
</div>
</div>
<script>
    function subjectUrl(grade, section) {
        // Redirect to the quarters page passing the selected section and subject as parameters
        window.location.href = "{% url 'subject_subjects' %}?grade=" + grade + "&section=" + section;
    }

    function sectionUrl(grade) {
        // Redirect to the quarters page passing the selected section and subject as parameters
        window.location.href = "{% url 'distinct_sections' %}?grade=" + grade;
    }
    function gradeUrl() {
        // Redirect to the quarters page passing the selected section and subject as parameters
        window.location.href = "{% url 'subject_classes_mt' %}";
    }
    function home() {
        // Redirect to the quarters page passing the selected section and subject as parameters
        window.location.href = "{% url 'subject_classes_mt' %}";
    }
    </script>
{% endblock main_content %}
