{% extends 'teacher_template/adviserTeacher/home_base.html' %}
{% block title %}MiGrade - About Us{% endblock %}
{% block main_content %}
<style>
    .theme-bg-light-green-gradient {
        background: linear-gradient(to right, #96e6a1, #59d672);
    }
    ol > li{
        margin:  15px 0;
    }
</style>
<section class="container mt-5 mb-5">

    <div class="page-header theme-bg-light-green-gradient py-5 text-center position-relative card">
        <div class="theme-bg-shapes-right"></div>
        <div class="theme-bg-shapes-left"></div>
        <div class="container">
            <h1 class="page-heading  mx-auto">About Us</h1>
            <div class="page-intro  mx-auto">Everything you need about MiGrade.</div>
        </div>
    </div>
    <div class="about_us ">
        <div class="middle-section ">
            <div class="container">
                <div class="lead p-3">
                    Welcome to MiGrade, your all-in-one solution for efficient and streamlined school management. MiGrade is designed to simplify administrative tasks, such as grade management, attendance tracking, and student record keeping, making it easier for educators to focus on what matters most: student success. 
                </div>
                <div class="about">
                    <h2 class="text-left font-weight-bold p-3">
                        Integration with OCR Technology
                    </h2>
                    <div class="lead p-3">
                    Our School Management System is seamlessly integrated with <mark>Optical Character Recognition (OCR) Technology</mark>, revolutionizing the way we handle documents and data. OCR enables the system to extract text from scanned documents, such as student records, reports, and forms, making them searchable and editable within the platform. This advanced functionality streamlines administrative tasks, accelerates data entry processes, and reduces reliance on manual transcription, saving valuable time and resources.
                    Welcome to MiGrade, your all-in-one solution for efficient and streamlined school management. MiGrade is designed to simplify administrative tasks, such as grade management, attendance tracking, and student record keeping, making it easier for educators to focus on what matters most: student success. 
                    </div>
                </div>

                <div class="about">
                    <h2 class="text-left font-weight-bold p-3">
                        User Roles and Permissions
                        th OCR Technology
                    </h2>
                    <div class="lead p-3">
                  Our system features distinct user roles tailored to different stakeholders within the school community:
                  to MiGrade, your all-in-one solution for efficient and streamlined school management. MiGrade is designed to simplify administrative tasks, such as grade management, attendance tracking, and student record keeping, making it easier for educators to focus on what matters most: student success. 
                    </div>
                    <ol class="ms-3">
                        <li><strong>Admin:</strong> Administrators have full access to system settings, data management tools, and reporting features, enabling them to oversee system operations and ensure compliance with policies and regulations.</li>
                        <li><strong>Teacher:</strong> Teacher: Teachers can manage class-related tasks, such as recording attendance, inputting grades, and accessing student profiles, to facilitate effective teaching and student monitoring.</li>
                        <li><strong>Master Teacher:</strong> Master Teacher users have enhanced privileges, allowing them to oversee multiple classes, coordinate curriculum planning, and monitor academic performance across grade levels or subjects.</li>
                    </0l>
                </div>

                <div class="about">
                    <h2 class="text-left font-weight-bold p-3">
                        Conclusion
                    </h2>
                    <div class="lead p-3">
                Our School Management System represents a transformative solution for Cuyab Elementary School, empowering stakeholders with the tools and resources needed to streamline administrative processes, enhance teaching and learning experiences, and foster collaborative partnerships. By leveraging cutting-edge technology, user-centered design principles, and collaborative engagement, we are proud to introduce a platform that embodies our commitment to excellence, innovation, and student success.  
                    </div>
                    <div class="lead p-3">
                        Explore our website to learn more about our School Management System, its features, benefits, and implementation process. Join us on this journey of digital transformation and educational advancement as we strive to create a more efficient, effective, and inclusive learning environment for all.
                    </div>
                </div>
               

            </div>
        </div>

    </div>
</section>


{% endblock main_content %}