<!-- all_final_grades.html -->
<!DOCTYPE html>
<html>
<head>
    <title>All Final Grades</title>
</head>
<body>
<a href="{% url 'view_classrecord' %}">View Class Record</a>
<h1>All Final Grades</h1>

{% if final_grades %}
    <table border="1">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Grade</th>
                <th>Section</th>
                {% if final_grades.0.subjects %}
                    {% for subject_info in final_grades.0.subjects %}
                        <th colspan="5">{{ subject_info.name }}</th>
                    {% endfor %}
                {% endif %}
                <th>General Average</th>


            </tr>
            <tr>
                <th>ID</th>
                <th></th>
                <th></th>
                <th></th>
                {% for subject_info in final_grades.0.subjects %}
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>Final Grade</th>
                {% endfor %}
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for student_data in final_grades %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ student_data.name }}</td>
                    <td>{{ student_data.grade }}</td>
                    <td>{{ student_data.section }}</td>
                    {% for subject_info in student_data.subjects %}
                    {% for quarter, grade in subject_info.quarter_grades.items %}
                        <td>{{ grade|floatformat:2 }}</td>
                    {% endfor %}
                        <td>{{ subject_info.final_grade|floatformat:2 }}</td>
                    {% endfor %}
                    <td>{{ student_data.general_average|floatformat:2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No final grades found.</p>
{% endif %}

</body>
</html>
