{% extends 'teacher_template/teacher_base.html' %}
{% block page_title %}
Adviser Teacher
{% endblock page_title %}
{% block main_content %}
<style>
    .table,
    th {
        border: solid 1px;
    }

    td {
        border: solid 1px;
    }

    #components {
        color: red;
        text-align: center;
    }

    table td {
        position: relative;
    }

    table td input {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        text-align: center;
    }

    .form-control {
        margin: 12px;
    }
</style>

<section class="content container mt-2">
    <form method="post" action="{% url 'calculate_grades' %}">
        {% csrf_token %}
        <div class="btn-wrapper" style="display: none;">
            {% if students %}
            <div>
              <input type="text" id="hidden_grade" name="hidden_grade" value="{{ students.0.grade }}">
              <input type="text" id="hidden_section" name="hidden_section" value="{{ students.0.section }}">
            {% endif %}
              <input type="text" id="hidden_subject" name="hidden_subject" value="{{ subject_name }}">
              <input type="text" id="hidden_quarter" name="hidden_quarter" value="{{ quarters }}">
            </div>
        </div>
        <div class="p-4">
            {% if students %}
            <div>
              <h4 class="text-muted">{{ students.0.grade }} {{ students.0.section }}
            {% endif %}
              <span class="text-primary ms-2" > {{ quarters }} - {{ subject_name }} </span>
              </h4> 
            </div>

        </div>
        <div class="d-sm-flex align-items-center justify-content-between border-bottom">
            <ul class="nav nav-tabs " role="tablist" id="assessmentTabs">
            </ul>
            <div>
                <div class="d-flex justify-content-end align-items-end">
                    <button id="submitButton" type="submit" class="btn btn-primary p-2 m-2">Save</button>
                </div>
            </div>
        </div>

        <div class="tab-content tab-content-basic" id="assessmentTabContent">
        </div>

    </form>
</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to handle form submission via AJAX
        function submitForm(formData) {
            $.ajax({
                url: "{% url 'calculate_grades' %}",
                type: "POST",
                data: formData,
                success: function (response) {
                    // Handle success response
                    console.log("Grades calculated successfully:", response);
                },
                error: function (xhr, status, error) {
                    // Handle error response
                    console.error("Error calculating grades:", error);
                }
            });
        }

        // Submit form data when Save button is clicked
        $('#submitButton').on('click', function (event) {
            event.preventDefault();

            // Get data from all tabs and serialize it
            var formData = $('form').serialize();
            
            // Submit form data via AJAX
            submitForm(formData);
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Get the assessment types from the backend or any other source
        var assessmentTypes = "{{ assessment_types|safe }}".replace(/[\[\]"']/g, "").split(',').map(function(item) {
            return item.trim();
        });

        var assessmentValues = "{{ assessment_values|safe }}".replace(/[\[\]"]/g, "").split(',').map(function(item) {
            return item.trim();
        });


        console.log(assessmentTypes)
        console.log(assessmentValues)

        // Loop through each assessment type
        assessmentTypes.forEach(function (assessmentType, index) {
            var value = assessmentValues[index]; 
            console.log(value)
            // Create a new list item for the assessment tab
            var listItem = $('<li class="nav-item"></li>');
            // Create a new anchor tag for the assessment tab
            var anchorTag = $('<a class="nav-link" role="tab" aria-selected="false"></a>')
                .attr('id', 'assessment-tab-' + index)
                .attr('data-bs-toggle', 'tab')
                .attr('href', '#assessment-' + index)
                .text(assessmentType);

            // Append the anchor tag to the list item
            listItem.append(anchorTag);

            // Append the list item to the navigation tabs
            $('#assessmentTabs').append(listItem);

            // Create a new tab-pane for the assessment content
            var tabPane = $('<div class="tab-pane fade show"></div>')
                .attr('id', 'assessment-' + index)
                .attr('role', 'tabpanel')
                .append('<h4>' + assessmentType + '</h4>')
                var totalMaxId = 'total_max_' + assessmentType.replace(/\s+/g, '-').toLowerCase();
                var weightId = 'weight_' + assessmentType.replace(/\s+/g, '-').toLowerCase();
              
                tabPane.append('<table class="table">' +
                    '<thead>' +
                        '<tr>' +
                            '<th></th>' +
                            '<th>Name</th>' +
                            '<th>1</th>' +
                            '<th>2</th>' +
                            '<th>3</th>' +
                            '<th>4</th>' +
                            '<th>5</th>' +
                            '<th>6</th>' +
                            '<th>7</th>' +
                            '<th>8</th>' +
                            '<th>9</th>' +
                            '<th>10</th>' +
                            '<th>Total</th>' +
                            '<th>PS</th>' +
                            '<th>WS</th>' +
                        '</tr>' +
                        '<tr>' +
                            '<th></th>' +
                            '<th>Highest possible scores</th>' +
                            '{% load custom_filters %}' +
                            '{% for i in 1|num_range %}' +
                            '<td><input name="max_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ i }}"></td>' +
                            '{% endfor %}' +
                            '<td id="' + totalMaxId + '" name="total_max_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '">Total</td>' +
                            '<th>100.00</th>' +
                            '<td><input type="text" id="' + weightId + '" name="weight_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '" value="' + value + '" /></td>' +
                        '</tr>' +
                    '</thead>' +
                    '<tbody>' +
                        '{% for student in students %}' +
                        '<tr>' +
                            '<td>{{ number }}</td>' +
                            '<td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>' +
                            '{% load custom_filters %}' +
                            '{% for i in 1|num_range %}' +
                            '<td><input class="score-input-ww" name="scores_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}_{{ i }}"></td>' +
                            '{% endfor %}' +
                            '<td><input id="total_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}" name="total_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}">Total</td>' +
                            '<td><input id="ps_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}" name="ps_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}"></td>' +
                            '<td><input id="ws_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}" name="ws_' + assessmentType.replace(/\s+/g, '-').toLowerCase() + '_{{ student.id }}"></td>' +
                        '</tr>' +
                        '{% endfor %}' +
                    '</tbody>' +
                    '</table>');


            // Append the tab-pane to the tab-content
            $('#assessmentTabContent').append(tabPane);
        });

        // Simulate a click on the first assessment tab
        $('#assessmentTabs li:first-child a').tab('show');
    });
</script>
<!-- <script>
    $(document).ready(function () {
        // Your existing JavaScript code...

        // Trigger a click event on the submit button once the document is ready
        $('#submitButton').click();
    });
</script> -->
{% endblock main_content %}
