{% extends 'teacher_template/teacher_base.html' %}
{% block page_title %}
Adviser Teacher
{% endblock page_title %}
{% block main_content %}
<style>
    .table, th{
        border: solid 2px;
        border-collapse: collapse; /
    }
    td{
        border: solid 1px;
    }
    #components{
        color: red;
        text-align: center;
    }
    table td{
      position: relative;
    }
    table td input{
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      margin: 0;
      height: 100%;
      width: 100%;
      border: none;
      text-align: center;
    }

  </style>
  
      
  <section class="content container mt-2">
    <form method="post" action="{% url 'calculate_grades' %}">
        {% csrf_token %}

        <div>
          <label>Region</label>
          <input type="text" id="" name="">
          <label>Division</label>
          <input type="text" id="" name="">
          <label>School ID</label>
          <input type="text" id="" name="">
          <label>School Name</label>
          <input type="text" id="" name="">
          <label>District</label>
          <input type="text" id="" name="">
          <label>School Year</label>
          <input type="text" id="" name="">
          <label>Quarter</label>
          <input type="text" id="" name="">
          <label>Grade and Section</label>
          <input type="text" id="" name="">
          <label>Teacher</label>
          <input type="text" id="" name="">
          <label>Subject</label>
          <input type="text" id="" name="">
        </div>
      <div class="d-sm-flex align-items-center justify-content-between border-bottom">
        <ul class="nav nav-tabs " role="tablist">
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="" role="tab" aria-selected="false">Update/Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="" role="tab" aria-selected="false">Delete</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="" role="tab" aria-selected="false">Save</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="" role="tab" aria-selected="false">Download</a>
          </li>
        </ul>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
      <ul class="nav nav-tabs " role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#written_works" role="tab" aria-controls="overview" aria-selected="true">Written Works</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#performance_task" role="tab" aria-selected="false">Performance Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#quarterly_assessment" role="tab" aria-selected="false">Quarterly Assessment</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#initial_grade" role="tab" aria-selected="false">Initial Grades</a>
        </li> -->
        <li>       <button id="submitButton" type="submit" style="display: none;">Submit</button></li>
      </ul>
      <div>

        <!-- <div class="d-sm-flex align-items-center justify-content-between border-bottom">
          <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li class="nav-item">
              <a class="nav-link active" id="tab-0-tab" data-bs-toggle="tab" href="#tab-0" role="tab" aria-controls="tab-0" aria-selected="true">Tab 1</a>
            </li>
          </ul>
          <div>
            <button id="addTabButton" class="btn btn-primary">Add Tab</button>
          </div>
        </div> -->
        
        <div class="btn-wrapper">
            {% if students %}
            <div>
              <input type="text" id="hidden_grade" name="hidden_grade" value="{{ students.0.grade }}">
              <input type="text" id="hidden_section" name="hidden_section" value="{{ students.0.section }}">
            {% endif %}
              <input type="text" id="hidden_subject" name="hidden_subject" value="{{ subject_name }}">
              <input type="text" id="hidden_quarter" name="hidden_quarter" value="{{ quarters }}">
            </div>
            
        </div>
      </div>
    </div>
  
    <div class="tab-content tab-content-basic">
      <div class="tab-pane fade show active" id="written_works" role="tabpanel" aria-labelledby="home-tab">
        <div class="mb-3">
            {% if students %}
            <div class="table-responsive">
              <div id="components">WRITTEN WORKS</div>
              <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                        <th>Total</th>
                        <th>PS</th>
                        <th>WS</th>
                    </tr>
                    <tr>
                      <th></th>
                      <th>Highest possible scores</th>
                      {% load custom_filters %}
                      {% for i in 1|num_range %}
                          <td><input  name="max_written_works_{{ i }}"></td>
                      {% endfor %}
                      <td id="total_max_written_works" name="total_max_written_works">Total</td>
                      <th>100.00</th>
                      <td><input type="text" id="written_works_weight" name="written_works_weight" value="{{ written_works_percentage }}" /></td>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <th></th>
                      <th>MALE</th>
                      {% load custom_filters %}
                      {% for i in 1|th %}
                          <td></td>
                      {% endfor %}
                  </tr>
                  {% for student in students %}
                      {% if student.sex == 'M' %}
                          <tr class="male-row">
                              <td>{{ number }}</td>
                              <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                              {% load custom_filters %}
                              {% for i in 1|num_range %}
                                  <td><input class="score-input-ww" name="scores_written_{{ student.id }}_{{ i }}"></td>
                              {% endfor %}
                              <td><input id="total_{{ student.id }}" name="total_{{ student.id }}">Total</td>
                              <td><input id="ps_{{ student.id }}" name="ps_{{ student.id }}"></td>
                              <td><input id="ws_{{ student.id }}" name="ws_{{ student.id }}"></td>
                          </tr>
                      {% endif %}
                  {% endfor %}
                  <tr></tr>
                  <tr>
                      <th></th>
                      <th>FEMALE</th>
                      {% load custom_filters %}
                      {% for i in 1|th %}
                      <th></th>
                      {% endfor %}
                  </tr>
                  {% for student in students %}
                      {% if student.sex == 'F' %}
                          <tr class="female-row">
                              <td>{{ number }}</td>
                              <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                              {% load custom_filters %}
                              {% for i in 1|num_range %}
                                  <td><input class="score-input-ww" name="scores_written_{{ student.id }}_{{ i }}"></td>
                              {% endfor %}
                              <td><input id="total_{{ student.id }}" name="total_{{ student.id }}">Total</td>
                              <td><input id="ps_{{ student.id }}" name="ps_{{ student.id }}"></td>
                              <td><input id="ws_{{ student.id }}" name="ws_{{ student.id }}"></td>
                          </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
              
              </table>
            </div>
          {% endif %}
          
          
      </div>
      </div>
  
      <div class="tab-pane fade show" id="performance_task" role="tabpanel" aria-labelledby="profile-tab">
        <div class="mb-3">
            {% if students %}
            <div class="table-responsive">
                <div id="components">PERFORMANCE TASK</div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                            <th>Total</th>
                            <th>PS</th>
                            <th>WS</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>Highest possible scores</th>
                            {% load custom_filters %}
                            {% for i in 1|num_range %}
                            <td><input name="max_performance_task_{{ i }}"></td>
                            {% endfor %}
                            <td id="total_max_performance_task" name="total_max_performance_task">Total</td>
                            <th>100.00</th>
                            <td><input type="text" id="performance_task_weight" name="performance_task_weight" value="{{ performance_task_percentage }}" /></td>
                            <!-- <th>
                                <select name="weight_performance_task_{{ student.id }}">
                                    <option value="0.3">30%</option>
                                    <option value="0.5">50%</option>
                                    <option value="0.2">20%</option>
                                </select>
                            </th> -->
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th></th>
                        <th>MALE</th>
                        {% load custom_filters %}
                        {% for i in 1|th %}
                            <td></td>
                        {% endfor %}
                    </tr>
                      {% for student in students %}
                          {% if student.sex == 'M' %}
                              <tr class="male-row">
                                  <td>{{ number }}</td>
                                  <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                                  {% load custom_filters %}
                                  {% for i in 1|num_range %}
                                      <td><input class="score-input-pt" name="scores_performance_task_{{ student.id }}_{{ i }}"></td>
                                  {% endfor %}
                                  <td><input id="pt_total_{{ student.id }}" name="pt_total_{{ student.id }}">Total</td>
                                  <td><input id="pt_ps_{{ student.id }}" name="pt_ps_{{ student.id }}"></td>
                                  <td><input id="pt_ws_{{ student.id }}" name="pt_ws_{{ student.id }}"></td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                      <tr></tr>
                      <tr>
                          <th></th>
                          <th>FEMALE</th>
                          {% load custom_filters %}
                          {% for i in 1|th %}
                          <th></th>
                          {% endfor %}
                      </tr>
                      {% for student in students %}
                          {% if student.sex == 'F' %}
                              <tr class="female-row">
                                  <td>{{ number }}</td>
                                  <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                                  {% load custom_filters %}
                                  {% for i in 1|num_range %}
                                      <td><input class="score-input-pt" name="scores_performance_task_{{ student.id }}_{{ i }}"></td>
                                  {% endfor %}
                                  <td><input id="pt_total_{{ student.id }}" name="pt_total_{{ student.id }}">Total</td>
                                  <td><input id="pt_ps_{{ student.id }}" name="pt_ps_{{ student.id }}"></td>
                                  <td><input id="pt_ws_{{ student.id }}" name="pt_ws_{{ student.id }}"></td>
                              </tr>
                          {% endif %}
                      {% endfor %}
                  </tbody>
                  
                </table>
            </div>
            {% endif %}
        </div>
    </div>
  
  
      <div class="tab-pane fade show" id="quarterly_assessment" role="tabpanel" aria-labelledby="contact-tab">
        <div class="mb-3">
          {% if students %}
          <div class="table-responsive">
              <div id="components">QUARTERLY ASSESSMENT</div>
              <table class="table">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Name</th>
                          <th>1</th>
                          <th>PS</th>
                          <th>WS</th>
                      </tr>
                      <tr>
                        <th></th>
                        <th>Highest possible scores</th>
                        <td><input id="total_max_quarterly" name="total_max_quarterly"></td>
                        <th>100.00</th>
                        <td> <input type="text" id="quarterly_assessment_weight" name="quarterly_assessment_weight" value="{{ quarterly_assessment_percentage }}" /></td>
                      
                      </tr>
                  </thead>
                  <!-- <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{ number }}</td>
                        <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                        {% load custom_filters %}
                        {% for i in 1|num_range %}
                        <td><input class="score-input-pt" name="scores_performance_task_{{ student.id }}_{{ i }}"></td>
                        {% endfor %}
                        <td><input id="pt_total_{{ student.id }}" name="pt_total_{{ student.id }}">Total</td>
                        <td><input id="pt_ps_{{ student.id }}" name="pt_ps_{{ student.id }}"></td>
                        <td class="ws" name="ws_{{ student.id }}"></td>
                    </tr>
                    {% endfor %}
                </tbody> -->
                <tbody>
                  <tr>
                    <th></th>
                    <th>MALE</th>
                    <th></th>
                    <th></th>
                    
                </tr>
                  {% for student in students %}
                      {% if student.sex == 'M' %}
                          <tr class="male-row">
                              <td>{{ number }}</td>
                              <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                              <td><input id="qa_total_{{ student.id }}" name="qa_total_{{ student.id }}"></td>
                              <td><input id="qa_ps_{{ student.id }}" name="qa_ps_{{ student.id }}"></td>
                              <td><input id="qa_ws_{{ student.id }}" name="qa_ws_{{ student.id }}"></td>
                          </tr>
                      {% endif %}
                  {% endfor %}
                  <tr></tr>
                  <tr>
                      <th></th>
                      <th>FEMALE</th>
                      <th></th>
                      <th></th>
                  </tr>
                  {% for student in students %}
                      {% if student.sex == 'F' %}
                          <tr class="female-row">
                              <td>{{ number }}</td>
                              <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                              <td><input id="qa_total_{{ student.id }}" name="qa_total_{{ student.id }}"></td>
                              <td><input id="qa_ps_{{ student.id }}" name="qa_ps_{{ student.id }}"></td>
                              <td><input id="qa_ws_{{ student.id }}" name="qa_ws_{{ student.id }}"></td>
                          </tr>
                      {% endif %}
                  {% endfor %}
              </tbody>
              </table>
          </div>
          {% endif %}
      </div>
      </div>
  
  
      <!-- <div class="tab-pane fade show" id="initial_grade" role="tabpanel" aria-labelledby="more-tab">
        <div class="mb-3">
          {% if students %}
          <div class="table-responsive" >
              <div id="components">INITIAL GRADE</div>
              <table class="table">
                  <thead>
                      <tr>
                          <th></th>
                          <th>Name</th>
                          <th>Grade</th>
                          <th>Quarterly Grade</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for student in students %}
                    <tr>
                      <td>{{ number }}</td>
                      <td><input type="hidden" name="student_id_{{ student.id }}" value="{{ student.id }}">{{ student.name }}</td>
                      <td><input id="initial_grade_{{ student.id }}" name="initial_grade_{{ student.id }}"></td> 
                      <td><input id="quarterly_grade_{{ student.id }}" name="quarterly_grade_{{ student.id}}"></td>
                    </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
          {% endif %}
      </div>
      </div> -->
      </div>

    </form>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function () {
        // Simulate a click on the submit button
        $("#submitButton").click();
    });
</script>


{% endblock main_content %}
