{% extends 'teacher_template/teacher_base.html' %}
{% block page_title %}
    Adviser Teacher
{% endblock page_title %}
{% block main_content %}
<style>
    .table, th {
        border: solid 2px;
    }
    td {
        border: solid 2px;
    }

    #components {
        color: red;
        text-align: center;
    }
    .table-responsive {
        width: 100%; /* Adjust the width as needed */
        margin: 0 auto; /* Center the table within its container */
    }

    .table {
        width: 100%; /* Make the table fill the available width */
    }

    .back-button {
    color: #1027ac;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
  }
    
</style>
<section class="content container mt-2">
      <div class="mt-5 border-bottom">
        <div class="card-body ">
            <div class="d-flex justify-content-between align-items-center m-2 p-3 ">
          <h3 >Class Record Information</h3>
          <a class="back-button ">&larr;</a>
          </div>
          <div class="row text-primary d-flex justify-content-between align-items-center text-center">
            <div class="col">
              <p class="card-text "><strong class="text-muted">Grade:</strong> {{ class_record.grade }}</p>
            </div>
            <div class="col">
              <p class="card-text"><strong class="text-muted">Section:</strong> {{ class_record.section }}</p>
            </div>
            <div class="col">
              <p class="card-text"><strong class="text-muted">Subject:</strong> {{ class_record.subject }}</p>
            </div>
            <div class="col">
              <p class="card-text"><strong class="text-muted">Quarters:</strong> {{ class_record.quarters }}</p>
            </div>
            <!-- <div class="col">
                <p class="card-text"><strong class="text-muted">Class Record Id:</strong> {{ class_record.id }}</p>
                <input type="hidden" name="class_record_id" value="{{ class_record.id }}">
              </div> -->
              <input type="hidden" name="class_record_id" value="{{ class_record.id }}">
          </div>
        </div>
      </div>
      <div class="d-sm-flex align-items-center justify-content-between border-bottom">
        <ul class="nav nav-tabs" role="tablist" id="assessmentTabs">
        </ul>
        <!-- <div>
            <div class="d-flex justify-content-end align-items-end">
                <button id="submitButton" type="submit" class="btn btn-primary p-2 m-2">Save</button>
            </div>
        </div> -->
    </div>
    
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <!-- Loop through the AssessmentType -->
                    {% for assessment_type in assessment_types %}
                    <th colspan="13">{{ assessment_type|title }}</th>
                    {% endfor %}
                    <th>Initial Grade</th>
                    <th>Transmuted Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>Name</td>
                    {% for _ in assessment_types %}
                        {% for i in "123456789" %}
                            <td>{{ i }}</td>
                        {% endfor %}
                        <td>10</td>
                        <td>Total</td>
                        <td>PS</td>
                        <td>WS</td>
                    {% endfor %}
                    <td></td>
                    <td></td>

                </tr>
                
                {% load custom_filters %}
               
                <tr>
                    <td></td>  
                    <td> HIGHEST POSSIBLE SCORE</td>
                    {% for record in gradescores %}
                    {% if forloop.first %}
                    {% for assessment_type, score_data in record.grade_scores.scores_hps.items %}
                    {% if assessment_type == assessment_type %}
                    {% for score in score_data.SCORES %}
                    <input type="hidden" id="assessmentType" data-type="{{ assessment_type }}">
                    <td class="highest-possible-scores_{{assessment_type}}" contenteditable="true">{{ score }}</td>
                    {% endfor %}
                    <td id="total_max_{{assessment_type}}">{{ score_data.TOTAL_HPS|default_if_none:"" }}</td>
                    <td>100</td>
                    <td id="weigh_input_{{assessment_type}}">{{ score_data.WEIGHT|default_if_none:"" }}</td>
                    {% endif %} 
                    {% endfor %}
                    {% endif %}
                    {% endfor %}
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th></th>
                    <th>MALE</th>
                    {% load custom_filters %}
                    {% for _ in assessment_types %}
                    {% for i in 1|th %}
                    <th></th>
                    {% endfor %}
                    {% endfor %}
                    <th></th>


                </tr>
                {% for record in gradescores %}
                {% if record.student.sex == 'M' %}  
                <tr class="male-row">
                    <td>{{ forloop.counter }}</td>  
                    <td id="student_name_{{ record.student.name}}">{{ record.student.name}}</td>
                    {% for key, value in record.grade_scores.scores_per_assessment.items %}
                    {% if key == key %}
                        {% for score in value.scores %} 
                         <input type="hidden" id="key" data-type="{{ key }}">
                            <td class="score-cell_{{key}}" contenteditable="true">{{ score }}</td>
                        {% endfor %}
                    <td id="total_score_{{key}}">{{ value.total_score|default_if_none:"" }}</td>
                    <td id="total_percentage_score_{{key}}">{{ value.percentage_score|default_if_none:"" }}</td>
                    <td id="total_weighted_score_{{key}}">{{ value.total_weighted_score|default_if_none:"" }}</td>
                    {% endif %}
                    {% endfor %}
                    <td id="initial_grades_{{ record.student.name}}">{{record.initial_grades|default_if_none:""}}</td>
                    <td id="transmuted_grades_{{ record.student.name}}">{{record.transmuted_grades|default_if_none:""}}</td>
                </tr>
                {% endif %}
                {% endfor %}

                <tr>
                    <th></th>
                    <th>FEMALE</th>
                    {% load custom_filters %}
                    {% for _ in assessment_types %}
                    {% for i in 1|th %}
                    <th></th>
                    {% endfor %}
                    {% endfor %}
                    <th></th>


                </tr>
                {% for record in gradescores %}
                {% if record.student.sex == 'F' %}  
                <tr class="female-row">
                    <td>{{ forloop.counter }}</td>  
                    <td id="student_name_{{ record.student.name}}">{{ record.student.name}}</td>
                    {% for key, value in record.grade_scores.scores_per_assessment.items %}
                    {% if key == key %}
                        {% for score in value.scores %} 
                        <input type="hidden" id="key" data-type="{{ key }}">
                            <td class="score-cell_{{key}}" contenteditable="true">{{ score }}</td>
                        {% endfor %}
                    <td id="total_score_{{key}}">{{ value.total_score|default_if_none:"" }}</td>
                    <td id="total_percentage_score_{{key}}">{{ value.percentage_score|default_if_none:"" }}</td>
                    <td id="total_weighted_score_{{key}}">{{ value.total_weighted_score|default_if_none:"" }}</td>
                    {% endif %}
                    {% endfor %}
                    <td id="initial_grades_{{ record.student.name}}">{{record.initial_grades|default_if_none:""}}</td>
                    <td id="transmuted_grades_{{ record.student.name}}">{{record.transmuted_grades|default_if_none:""}}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</section>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>

$(document).ready(function () {


    function updateTotalHpsScores() {
            // Iterate over all unique assessment types present in the table
            $('[id^="total_max_"]').each(function() {
                var assessmentType = $(this).attr('id').replace('total_max_', ''); // Extract assessment type from the ID
                var totalMaxScore = 0;
                
                // Calculate total max score for the current assessment type
                $('.highest-possible-scores_' + assessmentType + '[contenteditable="true"]').each(function () {
                    var score = parseFloat($(this).text()) || 0;
                    totalMaxScore += score;
                });

                // Update the corresponding total max score element
                $(this).text(totalMaxScore.toFixed(2));
            });
        }

        updateTotalHpsScores();



        function calculateTotalScore(studentName, assessmentType) {
                var totalScore = 0;
                $('tr:has(td[id^="student_name_' + studentName + '"]) .score-cell_' + assessmentType + '[contenteditable="true"]').each(function() {
                    var score = parseFloat($(this).text()) || 0;
                    totalScore += score;
                });
                return totalScore;
            }


    function updateTotalScores() {
            $('[id^="total_score_"]').each(function() {
                var assessmentType = $(this).attr('id').replace('total_score_', '');
                var studentName = $(this).closest('tr').find('[id^="student_name_"]').attr('id').replace('student_name_', '');
                var total_Score = 0;
                $('tr:has(td[id^="student_name_' + studentName + '"]) .score-cell_' + assessmentType + '[contenteditable="true"]').each(function () {
                    var score = parseFloat($(this).text()) || 0;
                    total_Score += score;
                });
                $(this).text(total_Score.toFixed(2));
            });
        }


        // Initially update total scores for all assessment types
        updateTotalScores();

        function updateTotalPercentageScores() {
        $('[id^="total_percentage_score_"]').each(function() {
            var assessmentType = $(this).attr('id').replace('total_percentage_score_', '');
            var studentName = $(this).closest('tr').find('[id^="student_name_"]').attr('id').replace('student_name_', '');
            var totalMaxId = 'total_max_' + assessmentType;
            var totalMaxScore = parseFloat($('#' + totalMaxId).text()) || 0;
            var totalScore = calculateTotalScore(studentName, assessmentType);
            
            if (totalMaxScore !== 0) {
                var percentageScore = (totalScore / totalMaxScore) * 100;
                if (!isNaN(percentageScore)) {
                    $(this).text(percentageScore.toFixed(2));
                } else {
                    $(this).text("");
                }
            } else {
                $(this).text("");
            }
        });
    }

            // Initially update total percentage scores for all assessment types
            updateTotalPercentageScores();

        function updateTotalWeightedScores() {
        $('[id^="total_weighted_score_"]').each(function() {
            var assessmentType = $(this).attr('id').replace('total_weighted_score_', '');
            var studentName = $(this).closest('tr').find('[id^="student_name_"]').attr('id').replace('student_name_', '');
            var weightInputId = 'weigh_input_' + assessmentType;
            var weight = parseFloat($('#' + weightInputId).text()) || ''; // default to empty string
            var totalMaxId = 'total_max_' + assessmentType;
            var totalScoreId = 'total_score_' + assessmentType;
            var totalMaxScore = parseFloat($('#' + totalMaxId).text()) || ''; // default to empty string
            var totalScore = calculateTotalScore(studentName, assessmentType) || ''; // default to empty string

            var percentageScore = '';
            if (totalMaxScore !== '' && totalMaxScore !== 0) {
                percentageScore = (totalScore / totalMaxScore) * 100;
            }

            var totalWeightedScore = '';
            if (percentageScore !== '' && weight !== '') {
                totalWeightedScore = (percentageScore / 100) * weight;
            }

            $(this).text(totalWeightedScore !== '' ? totalWeightedScore.toFixed(2) : '');
        });
    }

    // Initially update total weighted scores for all assessment types for a specific student
    updateTotalWeightedScores();

    function computeInitialGrades() {
        var students = document.querySelectorAll('[id^="initial_grades_"]');
        var studentName = studentElement.id.split("_")[2];
        students.forEach(function(studentElement) {
            var totalInitialGrades = 0;
            var keys = document.querySelectorAll('[id^="total_weighted_score_"]');
            keys.forEach(function(keyElement) {
                var score = parseFloat(keyElement.textContent) || 0;
                totalInitialGrades += score;
            });
            document.getElementById("initial_grades_" + studentName).textContent = totalInitialGrades.toFixed(2); // Update the initial_grades element
        });
    }

    
        // Add an event listener for the contenteditable cells in the highest possible scores row
        $('td[class^="highest-possible-scores_"][contenteditable="true"]').on('input', function () {
            console.log('Blur event triggered for scores.');
            console.log('Class Record ID:', $('input[name="class_record_id"]').val());
            console.log('Section ID:', $(this).closest('.tab-pane').attr('id'));
            
    
            updateTotalHpsScores();

            var className = $(this).attr('class');
            var assessmentType = className.split('_')[1]; 
            // updateTotalQuarterly();
            // Get the updated scores data


            var newScoresData = [];
            $(this).closest('tr').find('.highest-possible-scores_' + assessmentType + '[contenteditable="true"]').each(function () {
                newScoresData.push($(this).text());
            });

            var classRecordId = $('input[name="class_record_id"]').val();
            var sectionId = $(this).closest('.tab-pane').attr('id');

            var totalMaxScore = $('#total_max_' + assessmentType).text();
            
    
            console.log('New Scores Data:', newScoresData);
            console.log(totalMaxScore)
            console.log(assessmentType)
            // Send an AJAX request to update the scores
            $.ajax({
                type: "POST",
                url: "/update_highest_possible_scores/",
                data: {
                    'class_record_id': classRecordId,
                    'new_hps_data': newScoresData,
                    'total_max_score': totalMaxScore, 
                    'assessment_type': assessmentType, 
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
                success: function (data) {
        
                    if (data.success === false) {
                    alert(data.error);
                    location.reload(true);
                }
                },
                error: function (xhr, status, error)  {
                    console.error("Error updating scores.");
                    alert("Error updating score. See console for details.");
                    location.reload(true);
            
                }
            });
        });
  

    $('td[class^="score-cell_"][contenteditable="true"]').on('input', function () {

        // Get the updated score, column index, and section identifier
        var newScore = $(this).text();
        var className = $(this).attr('class');
        var assessmentType = className.split('_')[1]; 

        var row = $(this).closest('tr');
        var studentName = row.find('td:eq(1)').text();


        var classRecordId = $('input[name="class_record_id"]').val();
        var ScoresData = [];
            $(this).closest('tr').find('.score-cell_' + assessmentType + '[contenteditable="true"]').each(function () {
                ScoresData.push($(this).text());
            });
        
        var total_Score = $('#total_score_' + assessmentType).text();
        var percentageScore =$('#total_percentage_score' + assessmentType).text();
        var weightedScore =$('#total_weighted_score' + assessmentType).text();

        console.log("scores_data", ScoresData)
        console.log("classrecord", classRecordId)
        console.log("studentname:", studentName)
        console.log("assessment", assessmentType)
        console.log("total_score:", total_Score)

        // Send an AJAX request to update the score
        $.ajax({
            type: "POST",
            url: "/update_score/",
            data: {
                'class_record_id': classRecordId,
                'student_name': studentName,
                'new_score': newScore,
                'assessment_type': assessmentType,
                'total_score': total_Score,
                'scoreData' : ScoresData,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function (data) {
                updateTotalScores();
                updateTotalPercentageScores();
                updateTotalWeightedScores();
                if (data.success === false) {
                    alert(data.error);
                    location.reload(true);
                }
            },
            error: function (xhr, status, error) {
                {% comment %} console.error('Error updating score:', error);  // Logging
                alert("Error updating score. See console for details."); {% endcomment %}
            }
        });
    });
});

    </script>
<script>
     // Add an event listener for the arrow keys in quarterly assessment
$('.table tbody tr td[contenteditable="true"]').keydown(function (e) {
    var currentCell = $(this);
    var currentRow = currentCell.closest('tr');
    var currentColumnIndex = currentCell.index();

    switch (e.which) {

        case 38: // Up arrow
            e.preventDefault();
            navigateUp(currentRow, currentColumnIndex);
            break;

        case 40: // Down arrow
            e.preventDefault();
            navigateDown(currentRow, currentColumnIndex);
            break;

        default:
            return; // Exit if not an arrow key
    }
});

function navigateUp(row, columnIndex) {
    var prevRow = row.prev('tr');
    if (prevRow.length > 0) {
        prevRow.find('td:eq(' + columnIndex + ')').focus();
    }
}

function navigateDown(row, columnIndex) {
    var nextRow = row.next('tr');
    if (nextRow.length > 0) {
        nextRow.find('td:eq(' + columnIndex + ')').focus();
    }
}
$('.score-cell[contenteditable="true"]').keydown(function(e) {
    var currentCell = $(this);
    var currentRow = currentCell.closest('tr');
    var currentColumnIndex = currentCell.index();

    switch (e.which) {
        case 37: // Left arrow
            e.preventDefault();
            navigateLeft(currentRow, currentColumnIndex);
            break;

        case 39: // Right arrow
            e.preventDefault();
            navigateRight(currentRow, currentColumnIndex);
            break;

        case 38: // Up arrow
            e.preventDefault();
            navigateUp(currentRow, currentColumnIndex);
            break;

        case 40: // Down arrow
            e.preventDefault();
            navigateDown(currentRow, currentColumnIndex);
            break;

        default:
            return; // Exit if not an arrow key
    }
});

function navigateLeft(row, columnIndex) {
    if (columnIndex > 2) {
        row.find('td:eq(' + (columnIndex - 1) + ')').focus();
    }
}

function navigateRight(row, columnIndex) {
    if (columnIndex < 13) {
        row.find('td:eq(' + (columnIndex + 1) + ')').focus();
    }
}

function navigateUp(row, columnIndex) {
    var prevRow = row.prev('tr');
    if (prevRow.length > 0) {
        prevRow.find('td:eq(' + columnIndex + ')').focus();
    }
}

function navigateDown(row, columnIndex) {
    var nextRow = row.next('tr');
    if (nextRow.length > 0) {
        nextRow.find('td:eq(' + columnIndex + ')').focus();
    }
}

$('td[class^="highest-possible-scores_"][contenteditable="true"]').keydown(function(e) {
    var currentCell = $(this);
    var currentRow = currentCell.closest('tr');
    var currentColumnIndex = calculateColumnIndex(currentCell); // Calculate correct column index
    console.log(currentColumnIndex);
    var assessmentType = currentCell.attr('class').split('_')[1];

    switch (e.which) {
        case 37: // Left arrow
            e.preventDefault();
            navigateLeftHPS(currentRow, currentColumnIndex, assessmentType);
            break;

        case 39: // Right arrow
            e.preventDefault();
            navigateRightHPS(currentRow, currentColumnIndex, assessmentType);
            break;

        default:
            return; // Exit if not an arrow key
    }
});

function calculateColumnIndex(cell) {
    var index = 0;
    cell.prevAll().each(function() {
        index += $(this).attr('colspan') ? parseInt($(this).attr('colspan'), 10) : 1;
    });
    return index;
}

function navigateLeftHPS(row, columnIndex, assessmentType) {
    var prevCellIndex = columnIndex - 1;
    if (prevCellIndex >= 0) {
        row.find('td[class^="highest-possible-scores_' + assessmentType + '"]:eq(' + prevCellIndex + ')').focus();
    }
}

function navigateRightHPS(row, columnIndex, assessmentType) {
    var nextCellIndex = columnIndex + 1;
    row.find('td[class^="highest-possible-scores_' + assessmentType + '"]:eq(' + nextCellIndex + ')').focus();
}

</script>
    
<script>
    // JavaScript to handle going back two steps in the browsing history
    document.addEventListener("DOMContentLoaded", function() {
       // Check if the browser supports the history API
       if (window.history && window.history.back) {
           // Go back two steps in the browsing history when the back button is clicked
           document.querySelector(".back-button").addEventListener("click", function () {
               window.history.back();

           });
       }
    });
   </script>
{% endblock main_content %}