{% extends 'teacher_template/adviserTeacher/home_base.html' %}
{% block title %}MiGrade - Documentation{% endblock %}
{% block main_content %}
<style>
    .theme-bg-light-green-gradient {
        background: linear-gradient(to right, #96e6a1, #59d672);
    }
    ol > li{
        margin:  15px 0;
    }
</style>
<section class="container">

    <div class="page-header theme-bg-light-green-gradient py-5 text-center position-relative card">
        <div class="theme-bg-shapes-right"></div>
        <div class="theme-bg-shapes-left"></div>
        <div class="container">
            <h1 class="page-heading  mx-auto">Documentation</h1>
            <div class="page-intro  mx-auto">Everything you need about MiGrade.</div>
        </div>
    </div>
    <div class="documentation">
        <div class="middle-section ">
            <div class="container">
                <div class="lead p-3">
                    Welcome to MiGrade! This document serves as a guide to help you navigate and utilize our digital
                    grading system effectively. MiGrade is designed to simplify the process of recording and managing
                    student grades for teachers of Cuyab Elementary School. Below are some key aspects of our system
                    along with instructions on how to use them:
                </div>
                <div class="d-sm-flex align-items-center justify-content-between border-bottom mt-3">
                    <ul class="nav nav-tabs text" role="tablist">
                      <li class="nav-ite m">
                        <a class="nav-link active " id="home-tab" data-bs-toggle="tab" href="#create" role="tab"
                          aria-controls="create" aria-selected="true">User Manual</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#display" role="tab"
                          aria-selected="false">Transmutation of Grades</a>
                      </li>
                    </ul>
                  </div>
      
                  <div class="tab-content tab-content-basic border-1 border mb-5">
                    <div class="tab-pane fade show active" id="create" role="tabpanel" aria-labelledby="create">
                      <h2 class="text-left font-weight-bold p-3">
                        Migrade System Access and Login
                    </h2>
                    <div class="p-3">
                        <ol>
                            <li><strong>Landing Page:</strong> When you access MiGrade, you will be greeted by our logo,
                                signifying that you've arrived at the right place.</li>
                            <br>
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="media/manual/welcome logo.png" alt="Welcome Logo" class="img-fluid">
                            </div>
                            
                            <li><strong>Navigating to Login:</strong> To access the MiGrade login page, simply click on the
                                arrow button provided.</li>
                            <li><strong>Enter Your Credentials:</strong> Enter the username and password provided to you by
                                the system administrator. These credentials are unique to each user and ensure secure access
                                to the system.</li>
                            <br>
                            <img src="media/manual/login.png" alt="Welcome Logo" class="img-fluid">
                            <li><strong>Login:</strong> Once you've entered your credentials, click on the "Login" button to
                                proceed. As an additional security measure, make sure to complete the captcha by clicking
                                "I'm not a robot."</li>
                            <li><strong>Teacher Homepage:</strong> Upon successful login, you'll be directed to the MiGrade
                                Teacher Homepage. Here, you'll find a user-friendly interface with menus conveniently
                                located on the left side of the page. Additionally, you'll have access to important
                                information such as DepEd orders and memoranda, ensuring that you stay informed about the
                                latest updates and announcements.</li>
                            <br>
                            <img src="media/manual/home.png" alt="Welcome Logo" class="img-fluid">
                        </ol>
                    </div>
                    </div>
      
                    <div class="tab-pane fade show" id="display" role="tabpanel" aria-labelledby="display-tab">
                        <div class="container">
                            <h2 class="text-left font-weight-bold p-3">
                                Official DepEd Transmutation Table
                            </h2>
                            <div class="table-responsive text-center">
                                <table class="table table-hover ">
                                    <thead>
                                        <tr>
                                            <th>Initial Grade</th>
                                            <th>Transmuted Grade</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>100</td>
                                            <td>100</td>
                                        </tr>
                                        <tr>
                                            <td>98.40 - 99.99</td>
                                            <td>99</td>
                                        </tr>
                                        <tr>
                                            <td>96.80 - 98.39</td>
                                            <td>98</td>
                                        </tr>
                                        <tr>
                                            <td>95.20 - 96.79</td>
                                            <td>97</td>
                                        </tr>
                                        <tr>
                                            <td>93.60 - 95.19</td>
                                            <td>96</td>
                                        </tr>
                                        <tr>
                                            <td>92.00 - 93.59</td>
                                            <td>95</td>
                                        </tr>
                                        <tr>
                                            <td>90.40 - 91.99</td>
                                            <td>94</td>
                                        </tr>
                                        <tr>
                                            <td>88.80 - 90.39</td>
                                            <td>93</td>
                                        </tr>
                                        <tr>
                                            <td>87.20 - 88.79</td>
                                            <td>92</td>
                                        </tr>
                                        <tr>
                                            <td>85.60 - 87.19</td>
                                            <td>91</td>
                                        </tr>
                                        <tr>
                                            <td>84.00 - 85.59</td>
                                            <td>90</td>
                                        </tr>
                                        <tr>
                                            <td>82.40 - 83.99</td>
                                            <td>89</td>
                                        </tr>
                                        <tr>
                                            <td>80.80 - 82.39</td>
                                            <td>88</td>
                                        </tr>
                                        <tr>
                                            <td>79.20 - 80.79</td>
                                            <td>87</td>
                                        </tr>
                                        <tr>
                                            <td>77.60 - 79.19</td>
                                            <td>86</td>
                                        </tr>
                                        <tr>
                                            <td>76.00 - 77.59</td>
                                            <td>85</td>
                                        </tr>
                                        <tr>
                                            <td>74.40 - 75.99</td>
                                            <td>84</td>
                                        </tr>
                                        <tr>
                                            <td>72.80 - 74.39</td>
                                            <td>83</td>
                                        </tr>
                                        <tr>
                                            <td>71.20 - 72.79</td>
                                            <td>82</td>
                                        </tr>
                                        <tr>
                                            <td>69.60 - 71.19</td>
                                            <td>81</td>
                                        </tr>
                                        <tr>
                                            <td>68.00 - 69.59</td>
                                            <td>80</td>
                                        </tr>
                                        <tr>
                                            <td>66.40 - 67.99</td>
                                            <td>79</td>
                                        </tr>
                                        <tr>
                                            <td>64.80 - 66.39</td>
                                            <td>78</td>
                                        </tr>
                                        <tr>
                                            <td>63.20 - 64.79</td>
                                            <td>77</td>
                                        </tr>
                                        <tr>
                                            <td>61.60 - 63.19</td>
                                            <td>76</td>
                                        </tr>
                                        <tr>
                                            <td>60.00 - 61.59</td>
                                            <td>75</td>
                                        </tr>
                                        <tr>
                                            <td>56.00 - 59.99</td>
                                            <td>74</td>
                                        </tr>
                                        <tr>
                                            <td>52.00 - 55.99</td>
                                            <td>73</td>
                                        </tr>
                                        <tr>
                                            <td>48.00 - 51.99</td>
                                            <td>72</td>
                                        </tr>
                                        <tr>
                                            <td>44.00 - 47.99</td>
                                            <td>71</td>
                                        </tr>
                                        <tr>
                                            <td>40.00 - 43.99</td>
                                            <td>70</td>
                                        </tr>
                                        <tr>
                                            <td>36.00 - 39.99</td>
                                            <td>69</td>
                                        </tr>
                                        <tr>
                                            <td>32.00 - 35.99</td>
                                            <td>68</td>
                                        </tr>
                                        <tr>
                                            <td>28.00 - 31.99</td>
                                            <td>67</td>
                                        </tr>
                                        <tr>
                                            <td>24.00 - 27.99</td>
                                            <td>66</td>
                                        </tr>
                                        <tr>
                                            <td>20.00 - 23.99</td>
                                            <td>65</td>
                                        </tr>
                                        <tr>
                                            <td>16.00 - 19.99</td>
                                            <td>64</td>
                                        </tr>
                                        <tr>
                                            <td>12.00 - 15.99</td>
                                            <td>63</td>
                                        </tr>
                                        <tr>
                                            <td>8.00 - 11.99</td>
                                            <td>62</td>
                                        </tr>
                                        <tr>
                                            <td>4.00 - 7.99</td>
                                            <td>61</td>
                                        </tr>
                                        <tr>
                                            <td>0 - 3.99</td>
                                            <td>0</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                  </div>

            </div>
        </div>

    </div>
</section>


{% endblock main_content %}