{% extends 'teacher_template/teacher_base.html' %}
{% block page_title %}
MiGrade - Frequently Asked
Questions
{% endblock page_title %}
{% block main_content %}
<div class="container mt-5">    
  <h2 class="text-center mb-4">Frequently Asked Questions</h2>

  <!-- Tanong 1 -->
  <div class="accordion" id="faqAccordion">
    <div class="faq-item card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button
            class="btn btn-link"
            type="button"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            What is MiGrade?
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          MiGrade is an automated grading system that teachers use to input and
          organize student grades instantly. MiGrade allows teachers to encode
          grades digitally, simplifying the grading process and providing simple
          access to student performance data. This solution improves accuracy,
          speed, and organization when performing student assessments, resulting
          in improved educational processes and a better overall teaching
          experience.
        </div>
      </div>
    </div>

    <!-- Tanong 2 -->
    <div class="faq-item card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            How does MiGrade benefit teachers?
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          MiGrade is an immersive changer for teachers of Cuyab Elementary
          School, reducing the difficult task of grading. MiGrade enables
          teachers to say goodbye to hours spent recording grades into
          spreadsheets or grade books. MiGrade allows teachers to record student
          grades efficiently and precisely, freeing themselves essential time
          for other important activities. MiGrade additionally offers an entire
          summary of student performance data, enabling teachers to easily
          monitor progress and identify areas where students might require more
          information. This enables teachers to focus more on teaching and less
          on administrative tasks, resulting in a more efficient and productive
          learning environment.
        </div>
      </div>
    </div>

    <!-- Tanong 3 -->
    <div class="faq-item card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Can MiGrade be accessed from different devices?
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          Absolutely! MiGrade was created to be highly flexible, allowing
          teachers to access it from virtually anywhere. MiGrade has you
          covered, whether you're working from a desktop computer in the
          classroom, a tablet during a meeting, or assessing grades on your
          smartphone while on a trip. This means you are not restricted to a
          particular gadget or location when it comes to managing student
          grades. The ability to utilize MiGrade from different devices enables
          teachers to stay productive and organized no matter where they are.
          So, whether you're at school, at home, or going somewhere, MiGrade
          enables you the flexibility you need to complete your grading tasks.
        </div>
      </div>
    </div>

    <!-- Tanong 4 -->
    <div class="faq-item card">
      <div class="card-header" id="headingFour">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Is student data secure in MiGrade?
          </button>
        </h5>
      </div>
      <div
        id="collapseFour"
        class="collapse"
        aria-labelledby="headingFour"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          Rest assured, MiGrade values the confidentiality of student data. We
          acknowledge the value of protecting sensitive information, which is
          why we implemented effective protections throughout our system.
          MiGrade provides modern technology, ranging from the use of encryption
          to secure login processes, to ensure that student data is always
          secure. Furthermore, we constantly adhere to data privacy standards to
          guarantee confidentiality and integrity. Your trust and peace of mind
          are of the utmost value to us, and we work diligently to guarantee the
          highest standards of data security at MiGrade.
        </div>
      </div>
    </div>

    <!-- Tanong 5 -->
    <div class="faq-item card">
      <div class="card-header" id="headingFive">
        <h5 class="mb-0">
          <button
            class="btn btn-link collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            Can MiGrade generate reports for parents or administrators?
          </button>
        </h5>
      </div>
      <div
        id="collapseFive"
        class="collapse"
        aria-labelledby="headingFive"
        data-parent="#faqAccordion"
      >
        <div class="card-body">
          Certainly! MiGrade is a useful feature that allows it to generate
          detailed reports emphasizing students' grades and overall performance.
          These reports are not only comprehensive but also flexible, providing
          an understanding of how each pupil is progressing. MiGrade's reports
          are useful tools for communication and decision-making, regardless of
          whether they are utilized by parents to maintain informed about their
          child's academic progress or administrators for assessing overall
          class performance. Teachers may prepare these reports and
          electronically share them with important stakeholders in a matter of a
          few moments, promoting transparency and collaboration within the
          educational community.
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main_content %}