{% extends 'teacher_template/adviserTeacher/home_base.html' %}
{% block title %}MiGrade - Frequently Asked Questions{% endblock %}
{% block main_content %}
<style>
    .theme-bg-light-green-gradient {
        background: linear-gradient(to right, #96e6a1, #59d672);
    }
.accordion-body{
animation: fadeIn 0.95s;
}
.accordion-button:hover{
  background: #ebebeb;
}
@keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
</style>
<section class="container mt-5 mb-5">

  <div class="page-header theme-bg-light-green-gradient py-5 text-center position-relative card">
    <div class="theme-bg-shapes-right"></div>
    <div class="theme-bg-shapes-left"></div>
    <div class="container">
      <h1 class="page-heading  mx-auto">Frequently Asked Questions</h1>
      <div class="page-intro  mx-auto">Everything you need about MiGrade.</div>
    </div>
  </div>
  <div class="faqs  p-2">
    <div class="middle-section ">
      <div class="container">
        <div class="lead p-3">
          In this section let's talk about the frequently asked questions about MiGrade!
        </div>

        <div class="p-3">
          <div class="container">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <!-- Accordion Item #1 -->
              <div class="accordion-item" style="background-color: transparent !important">
                <h2 class="accordion-header" id="flush-headingOne">
                  <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                    data-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                    style="border-radius: 15px">
                    What is MiGrade?
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                  data-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    MiGrade is an automated grading system that teachers use to input and
                    organize student grades instantly. MiGrade allows teachers to encode
                    grades digitally, simplifying the grading process and providing simple
                    access to student performance data. This solution improves accuracy,
                    speed, and organization when performing student assessments, resulting
                    in improved educational processes and a better overall teaching
                    experience.
                  </div>
                </div>
              </div>

              <!-- Accordion Item #2 -->
              <div class="accordion-item" style="background-color: transparent !important">
                <h2 class="accordion-header" id="flush-headingTwo">
                  <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                    data-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                    style="border-radius: 15px">
                    How does MiGrade benefit teachers?
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                  data-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    MiGrade is an immersive changer for teachers of Cuyab Elementary
                    School, reducing the difficult task of grading. MiGrade enables
                    teachers to say goodbye to hours spent recording grades into
                    spreadsheets or grade books. MiGrade allows teachers to record student
                    grades efficiently and precisely, freeing themselves essential time
                    for other important activities. MiGrade additionally offers an entire
                    summary of student performance data, enabling teachers to easily
                    monitor progress and identify areas where students might require more
                    information. This enables teachers to focus more on teaching and less
                    on administrative tasks, resulting in a more efficient and productive
                    learning environment.
                  </div>
                </div>
              </div>
              <!-- Accordion Item #3 -->
              <div class="accordion-item" style="background-color: transparent !important">
                <h2 class="accordion-header" id="flush-headingThree">
                  <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                    data-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"
                    style="border-radius: 15px">
                    Can MiGrade be accessed from different devices?
                  </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                  data-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Absolutely! MiGrade was created to be highly flexible, allowing
                    teachers to access it from virtually anywhere. MiGrade has you
                    covered, whether you're working from a desktop computer in the
                    classroom, a tablet during a meeting, or assessing grades on your
                    smartphone while on a trip. This means you are not restricted to a
                    particular gadget or location when it comes to managing student
                    grades. The ability to utilize MiGrade from different devices enables
                    teachers to stay productive and organized no matter where they are.
                    So, whether you're at school, at home, or going somewhere, MiGrade
                    enables you the flexibility you need to complete your grading tasks.
                  </div>
                </div>
              </div>
              <!-- Accordion Item #4 -->
              <div class="accordion-item" style="background-color: transparent !important">
                <h2 class="accordion-header" id="flush-headingFour">
                  <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                    data-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour"
                    style="border-radius: 15px">
                    Is student data secure in MiGrade?
                  </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
                  data-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Rest assured, MiGrade values the confidentiality of student data. We
                    acknowledge the value of protecting sensitive information, which is
                    why we implemented effective protections throughout our system.
                    MiGrade provides modern technology, ranging from the use of encryption
                    to secure login processes, to ensure that student data is always
                    secure. Furthermore, we constantly adhere to data privacy standards to
                    guarantee confidentiality and integrity. Your trust and peace of mind
                    are of the utmost valuable to us, and we work diligently to guarantee
                    the highest standards of data security at MiGrade.
                  </div>
                </div>
              </div>
              <!-- Accordion Item #5 -->
              <div class="accordion-item" style="background-color: transparent !important">
                <h2 class="accordion-header" id="flush-headingFive">
                  <button class="accordion-button collapsed" type="button" data-toggle="collapse"
                    data-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive"
                    style="border-radius: 15px">
                    Can MiGrade generate reports for teachers and administrators?
                  </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive"
                  data-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    Certainly! MiGrade is a useful feature that allows it to generate
                    detailed reports emphasizing students' grades and overall performance.
                    These reports are not only comprehensive, but also flexible, providing
                    an understanding of how each pupil is progressing. MiGrade's reports
                    are useful tools for communication and decision-making. Teachers may
                    prepare these reports and electronically share them with important
                    stakeholders in a matter of a few moments, promoting transparency and
                    collaboration within the educational community.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>

{% endblock main_content %}