{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}
{% block title %}
Student List for {{ grade }} {{ section }}
{% endblock title %}

{% block main_content %}
<style>
    /* Your CSS styles here */
</style>

<section class="content container mt-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center p-4">
                    <a href="{% url 'generate_per_subject' %}">
                        <i class="fas fa-folder fa-4x me-3 folder-icon"></i>
                    </a>
                    <div class="ms-2">
                        <h4 class="display-5 fw-bold"> {{ grade }} ({{ section }})</h4>
                    </div>
                </div>
                {% if grade == 'Grade 4' or grade == 'Grade 5' or grade == 'Grade 6' %}
                <div class=" me-4">
                    <form action="{% url 'generate_final_grade'%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Generate Final grade and General Avevrage</button>
                    </form>
                </div>
                {% endif %}
                <div class=" me-4">
                    <a class="back-button">&larr;</a>
                </div>
            </div>
            <section class="content container mt-2 vh-100">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs text" role="tablist">
                        {% for subject in subjects %}
                            <li class="nav-item">
                                <a class="nav-link" id="{{ subject }}-tab" data-bs-toggle="tab" href="#{{ subject }}" role="tab" aria-controls="{{ subject }}" aria-selected="{% if forloop.first %}true{% else %}false{% endif %}">{{ subject }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            
                <div class="tab-content tab-content-basic students-tab">
                    {% for subject in subjects %}
                        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="{{ subject }}" role="tabpanel" aria-labelledby="{{ subject }}-tab">
                          
                            <div class="class-record-container">
                                <div class="table-responsive ">
                                    <table class="table table-hover ">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Quarter</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                           
                                            {% for class_record in class_records %}
                                                {% if class_record.subject == subject %}
                                                    <tr>
                                                        <td>{{ subject }}</td>
                                                        <td>{{ class_record.quarters }}</td>
                                                        <td>
                                                            <form action="{% url 'generate_excel_for_grades' grade=class_record.grade section=class_record.section subject=class_record.subject quarter=class_record.quarters %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-primary">Generate Class Record</button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </section>
        </div>
    </div>
</section>

<!-- jQuery CDN -->
<script>
    // JavaScript to handle the back button click event
    document.querySelector(".back-button").addEventListener("click", function () {
        window.history.back();
    });

</script>
{% endblock main_content %}