{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}
{% block title %}
Student List for {{ grade }} {{ section }}
{% endblock title %}

{% block main_content %}
<style>
    /* Your CSS styles here */
</style>

<section class="content container mt-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center p-4">
                    <a href="{% url 'generate_per_subject' %}">
                        <i class="fas fa-folder fa-4x me-3 folder-icon"></i>
                    </a>
                    <div class="ms-2">
                        <h4 class="display-5 fw-bold"> {{ grade }} ({{ section }})</h4>
                    </div>
                </div>
                {% if grade == 'Grade 4' or grade == 'Grade 5' or grade == 'Grade 6' %}
                <div class=" me-4">
                    <form action="{% url 'generate_final_grade'%}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Generate Final grade and General Avevrage</button>
                    </form>
                </div>
                {% endif %}
                <div class=" me-4">
                    <a class="back-button">&larr; Back</a>
                </div>
            </div>
            <section class="content container mt-2 vh-100">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs text" role="tablist">
                        {% load custom_filters %}
                        {% for subject in subjects %}
                        <li class="nav-item">
                            <a class="nav-link" id="{{ subject|replace_spaces }}-tab" data-bs-toggle="tab" href="#{{ subject|replace_spaces }}" role="tab" aria-controls="{{ subject|replace_spaces }}" aria-selected="false">{{ subject }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                    
                </div>
            
                <div class="tab-content tab-content-basic students-tab">
                    {% for subject in subjects %}
                        <div class="tab-pane fade" id="{{ subject|replace_spaces }}" role="tabpanel" aria-labelledby="{{ subject|replace_spaces }}-tab">
                            <h4 style="color: blue;">{{ subject }}</h4>
                            <div class="class-record-container">
                                {% for class_record in class_records %}
                                    {% if class_record.subject == subject %}
                                        <div class="class-record-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h5>Quarter: {{ class_record.quarters }}</h5>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="generate-record-form">  
                                                        {% if class_record.grade == 'Grade 4' or class_record.grade == 'Grade 5' or class_record.grade == 'Grade 6'%}
                                                        <form action="{% url 'generate_summary_for_grades_4_to_6' grade=class_record.grade section=class_record.section subject=class_record.subject quarter=class_record.quarters %}" method="post">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-primary">Generate Class Record</button>
                                                        {% else %}
                                                            <form action="{% url 'generate_excel_for_grades' grade=class_record.grade section=class_record.section subject=class_record.subject quarter=class_record.quarters %}" method="post">
                                                                {% csrf_token %}
                                                                <button type="submit" class="btn btn-primary">Generate Class Record</button>
                                                        {% endif %}  
                                                             
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
            </section>
        </div>
    </div>
</section>

<!-- jQuery CDN -->
<script>
    // JavaScript to handle the back button click event
    document.querySelector(".back-button").addEventListener("click", function () {
        window.history.back();
    });

</script>
{% endblock main_content %}
