{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% block title %}
MiGrade - Adviser Teacher
{% endblock title %}
{% block main_content %}
<style>
  /* CSS to remove the outline */
  #no-outline {
      border: none;
      background: transparent;
  }
  .fs-5{
    color: #1F3BB3;
  }
  .fs-5:hover{
    color: black;
    cursor: pointer;
  }

</style>
<section class="content container mt-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-center">
        <h5 class="mt-1">My Class Advisory</h5>
        <form method="post" action="{% url 'home_adviser_teacher' %}">
          {% csrf_token %}
          <button type="submit" id="no-outline" title="Refresh">⟳</button>
        </form>
      </div>
        <div class="d-flex justify-content-evenly align-center  mt-4 mb-4">
          <div class="d-flex flex-column justify-content-center align-center text-center">
            <div class="fs-5 fw-bold">{{ grade.name }}</div>
            <div class="fw-lighter">Grade</div>
          </div>
    
    
          <div class="d-flex flex-column justify-content-center align-center text-center">
            <div class="fs-5 fw-bold">{{ section.name }}</div>
            <div class="fw-lighter">Section</div>
          </div>
    
          <div class="d-flex flex-column justify-content-center align-center text-center">
            <div class="fs-5 fw-bold">{{ num_male_students }}</div>
            <div class="fw-lighter">Male</div>
          </div>
    
          <div class="d-flex flex-column justify-content-center align-center text-center">
            <div class="fs-5 fw-bold">{{ num_female_students }}</div>
            <div class="fw-lighter">Female</div>
          </div>
    
          <div class="d-flex flex-column justify-content-center align-center text-center">
            <div class="fs-5 fw-bold">{{ num_students }}</div>
            <div class="fw-lighter">Total</div>
          </div>
        </div>
      </div>
      <!-- <div class="d-flex justify-content-end align-center p-4 m-0">
        <a class="btn btn-primary" href="{% url 'get_grade_details' %}">New Class Record</a>
      </div> -->


  <div class="container mt-4">
    <div class="grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Recent Files</h4>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Date Modified</th>
                  <th>Type</th>
                  <th>Size</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><i class="fa fa-file-o me-2 text-primary"></i>Jacob</td>
                  <td>03/11/2023 12:43pm</td>
                  <td>Class Record</td>
                  <td>12 MB</td>
                </tr>
                <tr>
                  <td>Messsy</td>
                  <td>Flash</td>
                  <td class="text-danger"> 21.06% <i class="ti-arrow-down"></i></td>
                  <td><label class="badge badge-warning">In progress</label></td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Premier</td>
                  <td class="text-danger"> 35.00% <i class="ti-arrow-down"></i></td>
                  <td><label class="badge badge-info">Fixed</label></td>
                </tr>
                <tr>
                  <td>Peter</td>
                  <td>After effects</td>
                  <td class="text-success"> 82.00% <i class="ti-arrow-up"></i></td>
                  <td><label class="badge badge-success">Completed</label></td>
                </tr>
                <tr>
                  <td>Dave</td>
                  <td>53275535</td>
                  <td class="text-success"> 98.05% <i class="ti-arrow-up"></i></td>
                  <td><label class="badge badge-warning">In progress</label></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>




</section>
{% endblock main_content %}
