{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% block title %}
MiGrade - Adviser Teacher
{% endblock %}
{% block main_content %}
<style>
  /* CSS to remove the outline */
  #no-outline {
      border: none;
      background: transparent;
  }
  .fs-5{
    color: #1F3BB3;
  }
  .fs-5:hover{
    color: black;
    cursor: pointer;
  }
  section{
    background-image: url('static/star-admin/images/bg_home_teacher_2.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
</style>
<section class="content container ">
  <div class="container mt-5 d-flex justify-content-end">
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>

{% endblock main_content %}

