{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}

{% block title %}
Inbox Messages
{% endblock title %}

{% block main_content %}
<style>

.message {
    border-bottom: 1px solid #eaeaf1;
}

.message:hover {
    background: #eaeaf1;
}

.message:hover .open {
    display: block;
}

.open {
    display: none;
}

  .accept-btn {
    color: green;
    opacity: 0.6;
    transition: 0.3s;
  }

  .accept-btn:hover {
    opacity: 1;
    color: green;
    scale: 1.10;
  }

  .reject-btn {
    color: red;
    opacity: 0.6;
    transition: 0.3s;
  }

  .reject-btn:hover {
    opacity: 1;
    color: red;
    scale: 1.10;
  }
  .inbox{
    max-height: 400px;
    overflow: auto;
  }

</style>
<section class="content container mt-2 vh-100">
  <div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs text" role="tablist">
      <li class="nav-ite m">
        <a class="nav-link active " id="home-tab" data-bs-toggle="tab" href="#overview" role="tab"
          aria-controls="overview" aria-selected="true">Inbox</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#audiences" role="tab"
          aria-selected="false">History</a>
      </li>
    </ul>
  </div>

  <div class="tab-content tab-content-basic inbox">
    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
      <div class="card">
        <div class="card-body ">
            <h3 class="p-1">Inbox Messages</h3>
            <hr>
        </div>
        <div>
            {% if inbox_messages %}
            <ul>
                {% for message in inbox_messages %}
                
                <li class="d-flex justify-content-between align-items-center me-3 p-3 mt-3  message " data-bs-toggle="modal" data-bs-target="#exampleModal{{ message.id }}" >
                    <div >
                        {% load custom_filters %}
                        <p><strong> * {{ message.file_name|slice:"2:-2"|replace:"'"|replace:"," }}</strong></p> 
                        <p class="form-text"><strong>From Teacher:</strong> {{ message.from_teacher }}</p>
                        <p class="form-text"><strong>Approved at: </strong> {{ message.date_approved }}</p>
                    </div>
                    <div> 
                      <p class="m-4 open text-muted">Open</p>                 
                    </div>
                </li>
                <div class="modal fade" id="exampleModal{{ message.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ message.id }}" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                  <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel{{ message.id }}">Message Details</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <p class="json-data ">
                                <div class="d-flex justify-content-between align-items-center">
                                <div>
                                  <strong>Grade:</strong> {{ message.json_data.grade }}<br>
                                  <strong>Section:</strong> {{ message.json_data.section }}<br>
                                  <strong>Subject:</strong> {{ message.json_data.subject }}<br>
                                  <strong>From Teacher:</strong> {{ message.json_data.teacher }}<br>
                                  
                                </div>
                                 <div>
                                  <button class="btn accept-btn" data-message-id="{{ message.id }}">
                                    <i class="fas fa-check"><p>Save Records</p></i>
                                </button>
                                <button class="btn reject-btn" data-message-id="{{ message.id }}">
                                    <i class="fas fa-times"><p>Delete Message</p></i>
                                </button>
                                 </div>
                                </div>
                                  <hr>
                                  <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                              <th></th>
                                                <th>Student</th>
                                                <th>Grades</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in message.json_data.students %}
                                            <tr>
                                              <td>{{ forloop.counter }}</td>
                                                <td>{{ student.name }}</td>
                                                <td>{{ student.quarter }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
                {% endfor %}
            </ul>
            {% else %}
            <p class="p-4">No messages.</p>
            {% endif %}
        </div>
    </div>
    
    
  </div>
  
  <div class="tab-pane fade show" id="audiences" role="tabpanel" aria-labelledby="audiences">
    <div class="card">
        <div class="card-body">
            <h3 class="p-1">Inbox Messages</h3>
        </div>
        <div class="table-responsive">
            {% if accepted_messages %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Accepted at</th>
                    </tr>
                </thead>
                <tbody>
                    {% for message in accepted_messages %}
                    <tr class="message" data-bs-toggle="modal" data-bs-target="#acceptedModal{{ message.id }}">
                        <td>
                            {% load custom_filters %}
                            {{ message.file_name|slice:"2:-2"|replace:"'"|replace:"," }}
                        </td>
                        <td>
                            <p>{{ message.accepted_at }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="p-3">No messages were approved.</p>
            {% endif %}
            {% for message in accepted_messages %}
            <div class="modal fade" id="acceptedModal{{ message.id }}" tabindex="-1" aria-labelledby="acceptedModalLabel{{ message.id }}" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="acceptedModalLabel{{ message.id }}">Message Details</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p class="json-data">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong>Grade:</strong> {{ message.json_data.grade }}<br>
                                        <strong>Section:</strong> {{ message.json_data.section }}<br>
                                        <strong>Subject:</strong> {{ message.json_data.subject }}<br>
                                        <strong>From Teacher:</strong> {{ message.json_data.teacher }}<br>
                                    </div>
                                </div>
                                <hr>
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Student</th>
                                                <th>Grades</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for student in message.json_data.students %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ student.name }}</td>
                                                <td>{{ student.quarter }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
  $(document).ready(function () {

    $(".accept-btn").click(function () {
      var message_id = $(this).data("message-id");
      // Retrieve json_data from hidden element
      var json_data = $(this).closest('li').find('.json-data').text();
      $.ajax({
        url: "/accept_message",
        type: "POST",
        data: {
          'message_id': message_id,
          'json_data': json_data,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (response) {
          if (response.success) {
            alert(response.message); // Modified alert message
            location.reload()
          } else {
            alert("Error: " + response.error);
          }
        },
        error: function (xhr, status, error) {
          alert("Error occurred while processing the request.");
          console.error(xhr.responseText);
        }
      });
    });
  });
</script>

{% endblock main_content %}