{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}
{% block title %}
Inbox Messages
{% endblock title %}
{% block main_content %}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<section>
<div class="container">
  <h1>Inbox Messages</h1>
</div>
<div>
  {% if inbox_messages %}
    <ul>
      {% for message in inbox_messages %}
        <li>
          <button class="btn btn-primary accept-btn" data-message-id="{{ message.id }}">Accept</button>
          <button class="btn btn-danger reject-btn" data-message-id="{{ message.id }}">Reject</button>
          <p><strong>Sender:</strong> {{ message.from_teacher.user }}</p>
          <p><strong>File Name:</strong> {{ message.file_name }}</p>
          <p><strong>Timestamp:</strong> {{ message.timestamp }}</p>
          
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No inbox messages found.</p>
  {% endif %}
</div>
</section>


{% endblock main_content %}