{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% block title %}
    New Class Record
{% endblock title %}
{% block main_content %}
<style>
    .back-button {
        color: #1027ac;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
    }
</style>
<section class="container p-5">
    <div class="d-flex justify-content-between align-items-center mb-3 p-2">
    <h3>Create New Class Record</h3>
    <a class="back-button" >&larr;</a>
</div>
    <form method="post" action="{% url 'get_students_by_grade_and_section' %}">
        {% csrf_token %}
        <div class="container">
            <label class="text-muted mb-4 fs-sm">Note: If there are no Grade & Section options, please create a class first.</label>
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group mb-4">
                        <label for="grade">Grade</label>
                        <select class="form-control" id="grade" name="grade" required>
                            <option value="">Select Grade</option>
                            {% for grade in grades %}
                                <option value="{{ grade }}">{{ grade }}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <div class="form-group mb-4">
                        <label for="section">Section</label>
                        <select class="form-control" id="section" name="section" required>
                            <option value="">Select Section</option>
                            <!-- Sections will be dynamically populated here -->
                        </select>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div class="form-group mb-4">
                        <label for="subject">Subject</label>
                        <select class="form-control" id="subject" name="subject" required>
                            <option value="">Select Subject</option>
                            {% for subject in subjects %}
                                <option value="{{ subject }}">{{ subject }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group mb-4">
                        <label for="grade">Quarter</label>
                        <select class="form-control" id="quarter" name="quarter" required>
                            <option value="">Select Quarter</option>
                            {% for quarter in quarters %}
                                <option value="{{ quarter }}">{{ quarter }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <input type="hidden" id="teacher" name="teacher" value="{{ teacher.user.id }}">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary mt-1">Create</button>
            </div>
        </div>
    </form>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var selected_grade = "{{ selected_grade }}";
        var selected_section = "{{ selected_section }}";

        // Check if selected_grade and selected_section are not empty or None before setting the values
        if (selected_grade !== "None" && selected_section !== "None")  {
            // Set the selected grade value in the dropdown
            document.getElementById('grade').value = selected_grade;

            // Get the section dropdown element
            var sectionDropdown = document.getElementById('section');

            // Set the selected section as the innerHTML of the dropdown
            sectionDropdown.innerHTML = `<option value="${selected_section}">${selected_section}</option>`;
        }
    });
</script>
<script>
    $(document).ready(function () {
        $('#grade').change(function () {
            var grade_id = $(this).val();  // Get the selected grade ID
            if (grade_id) {
                $.ajax({
                    type: 'GET',
                    url: '/get_sections_classrecord/',
                    data: {'grade_id': grade_id},
                    success: function (data) {
                        $('#section').empty();
                        if (data.sections.length > 0) {
                            $.each(data.sections, function (index, section) {
                                $('#section').append('<option value="' + section + '">' + section + '</option>');
                            });
                        } else {
                            $('#section').append('<option value="">No sections available</option>');
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            } else {
                $('#section').empty();
                $('#section').append('<option value="">Select Grade First</option>');
            }
        });
    });
    </script>
<script>
    // JavaScript to handle the back button click event
    document.querySelector(".back-button").addEventListener("click", function () {
        window.history.back();
    });
</script>


{% endblock main_content %}
