{% extends 'teacher_template/teacher_base.html' %}
{% block page_title %}
Adviser Teacher
{% endblock page_title %}
{% block main_content %}
<section class="content container">
    <form method="post" action="{% url 'students' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="grade">Grade</label>
            <select class="form-control" id="grade" name="grade">
                <option value="">Select Grade</option>
                {% for grade in grades %}
                    <option value="{{ grade }}">{{ grade }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="section">Section</label>
            <select class="form-control" id="section" name="section">
                <option value="">Select Section</option>
                {% for section in sections %}
                    <option value="{{ section }}">{{ section }}</option>
                {% endfor %}
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Get Students</button>
    </form>

    </div>
</section>
{% endblock main_content %}
