{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}
{% block title %}
Student List for {{ grade }} {{ section }} {{ class_type }}
{% endblock title %}
{% block main_content %}
<style>
    .folder-icon {
        color: #1F3BB3;
    }

    .student-icon {
        font-size: 16px;
    }

    .students-tab {
        height: 90vh;
        overflow-y: hidden;
    }

    .students-tab:hover {
        overflow-y: auto;
    }

    .students-tab::-webkit-scrollbar {
        width: 10px;
        /* For Chrome, Safari, and Opera */
        display: none;
        /* Hide the scrollbar by default */
    }

    .students-tab:hover::-webkit-scrollbar {
        display: block;
        /* Show the scrollbar on hover */
    }

    .students-tab::-webkit-scrollbar-thumb {
        background-color: #ccc;
        /* For Chrome, Safari, and Opera */
    }

    .students-tab::-webkit-scrollbar-track {
        background-color: #f5f5f5;
        /* For Chrome, Safari, and Opera */
    }

    .back-button {
        color: #1027ac;
        font-size: 30px;
        text-decoration: none;
        cursor: pointer;
    }

    .record_id {
        text-decoration: none;
        cursor: pointer;
        color: #1027ac;
    }
    .delete-record {
    text-decoration: none;
    cursor: pointer;
    color: red;
    border: none;
    background: none;
    transition: color 0.3s; /* Smooth color transition */

    /* Shake animation on hover */
    position: relative;
}

.delete-record:hover {
    color: darkred; /* Change color on hover */
    animation: shake 0.5s;
}

/* Define the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
#dropdown_classrecord{
    border: none;
    background: none;
}
#action{
    border: none;
    background: none;
    padding: 3px;
}

.action button{
border: none;
text-align: center;
}
.action span{
color: red;
margin-right: 5px;
}
</style>
<section class="content container mt-2">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center p-4">
                    <a  href="{% url 'display_students' %}">
                    <i class="fas fa-folder fa-4x me-3 folder-icon"></i>
                </a>
                    <div class="ms-2">
                        <h4 class="display-5 fw-bold"> {{ grade }} ({{ section }}) <code class="text-muted">{{ class_type }}</code></h4>
                        <p class="d-flex align-content-center text-muted"><i
                                class="mdi mdi-account me-1 student-icon "></i>{{ students|length }} students</p>
                    </div>
                </div>
                <div class=" me-4">
                    <a class="back-button">&larr;</a>
                </div>
            </div>
            <section class="content container mt-2 vh-100">
                <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs text" role="tablist">
                        <li class="nav-item ">
                            <a class="nav-link active " id="home-tab" data-bs-toggle="tab" href="#students" role="tab"
                                aria-controls="students" aria-selected="true">Students</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#classrecord" role="tab"
                                aria-selected="false">Class records</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#quarterly" role="tab"
                                aria-selected="false">Quarterly Grades</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" id="more-tab" data-bs-toggle="tab" href="#rankings" role="tab"
                                aria-selected="false">Rankings</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content tab-content-basic students-tab ">
                    <div class="tab-pane fade show active" id="students" role="tabpanel" aria-labelledby="overview">
                        <div class="container mt-4">
                            <div class="grid-margin stretch-card">
                                <div>
                                    <div class="card-body">
                                        <h4 class="card-title">Students</h4>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th></th>
                                                        <th>LRN</th>
                                                        <th>Learners Name</th>
                                                        <th>Sex</th>
                                                        <th>Birthday</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for student in students %}
                                                    <tr>
                                                        <td>
                                                            {{ forloop.counter }}
                                                        </td>
                                                        <td>
                                                            {{ student.lrn }}
                                                        </td>
                                                        <td>
                                                            {{ student.name }}
                                                        </td>
                                                        <td>
                                                            {{ student.sex }}
                                                        </td>
                                                        <td>
                                                            {{ student.birthday }}
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="classrecord" role="tabpanel" aria-labelledby="classrecord">
                       <div class="container mt-4">
                        <div class="grid-margin stretch-card">
                            <div>
                                <div class="card-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h4 class="card-title">Class Records</h4>
                                        <div class="btn-group">
                                            <button type="button" id="dropdown_classrecord" class="btn btn-secondary btn-dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <svg class="c-qd" width="20px" height="20px" viewBox="0 0 20 20" focusable="false" fill="black">
                                                    <path fill="none" d="M0 0h20v20H0V0z"></path>
                                                    <path d="M10 6c.82 0 1.5-.68 1.5-1.5S10.82 3 10 3s-1.5.67-1.5 1.5S9.18 6 10 6zm0 5.5c.82 0 1.5-.68 1.5-1.5s-.68-1.5-1.5-1.5-1.5.68-1.5 1.5.68 1.5 1.5 1.5zm0 5.5c.82 0 1.5-.67 1.5-1.5 0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5c0 .83.68 1.5 1.5 1.5z"></path>
                                                </svg>
                                            </button>
                                            <!-- Dropdown menu content -->
                                            <div class="dropdown-menu delete-dropdown p-2" aria-labelledby="dropdown_classrecord">
                                                <a id="classRecordLink" href="#" class="dropdown-item">Class Record +</a>
                                                <a id="generateRecordButton" href="#" class="dropdown-item">Generate Class Record</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th>File</th>
                                                <th>Date Modified</th>
                                                <th>Quarter</th>
                                                <th>Subject</th>
                                                <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% if class_records %}
                                                {% for record in class_records %}
                                                    <tr title="{{ record.name }}"> 
                                                        <td style="max-width: 200px; /* Adjust the max-width as needed */
                                                        white-space: nowrap;
                                                        overflow: hidden;
                                                        text-overflow: ellipsis;"> <!-- Adjust max-width as needed -->
                                                            <a class="record_id" title="{{ record.name }}" href="{% url 'display_classrecord' class_record_id=record.id %}">{{ record.name }}</a>
                                                        </td>
                                                        
                                                        <td>{{ record.date_modified }}</td>
                                                        <td>{{ record.quarters }}</td>
                                                        <td>{{ record.subject }}</td>
                                                        <td>
                                                            <div class="btn-group">
                                                                <button type="button" id="action" class="btn btn-secondary btn-dropdown-toggle dropdown-toggle-split"
                                                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <svg class="c-qd" width="20px" height="20px" viewBox="0 0 20 20" focusable="false" fill="blue">
                                                                        <path fill="none" d="M0 0h20v20H0V0z"></path>
                                                                        <path d="M10 6c.82 0 1.5-.68 1.5-1.5S10.82 3 10 3s-1.5.67-1.5 1.5S9.18 6 10 6zm0 5.5c.82 0 1.5-.68 1.5-1.5s-.68-1.5-1.5-1.5-1.5.68-1.5 1.5.68 1.5 1.5 1.5zm0 5.5c.82 0 1.5-.67 1.5-1.5 0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5c0 .83.68 1.5 1.5 1.5z"></path>
                                                                    </svg>
                                                                </button>
                                                                <!-- Dropdown menu content -->
                                                                <div class="dropdown-menu action p-2" aria-labelledby="action">
                                                                   <div>
                                                                  
                                                                    <form id="archiveForm_{{ record.id }}" method="post" action="{% url 'archive_class_record' class_record_id=record.id %}" onsubmit="return confirm('Are you sure you want to archive this class record?');" style="display:inline;">
                                                                        {% csrf_token %}
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                           
                                                                            <button type="submit" class="archive-record dropdown-item" data-record-id="{{ record.id }}">
                                                                                <span class="icon-archive"></span> Archive
                                                                        </div>
                                                                    
                                                                    </form> 
                                                                   </div> 
                                                                   <div>
                                                                    
                                                                    <form id="deleteForm_{{ record.id }}" method="post" action="{% url 'delete_classrecord' class_record_id=record.id %}" onsubmit="return confirm('Are you sure you want to delete this class record? This action cannot be undone.');" style="display:inline;">
                                                                        {% csrf_token %}
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                           
                                                                            <button type="button" class=" dropdown-item" data-record-id="{{ record.id }}">
                                                                                <span class="icon-delete"></span> Delete
                                                                            </button>
                                                                        </div>
                                                                        
                                                                    </form>
                                                                   </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            {% else %}
                                                <tr>
                                                    <td colspan="5">No class records found.</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    <div class="tab-pane fade show " id="quarterly" role="tabpanel" aria-labelledby="subjects">
                        <div class="container mt-4">
                            <div class="grid-margin stretch-card">
                                <div>
                                    <div class="card-body">
                                        <h4 class="card-title">Quarterly Grades</h4>
                                        <div class="table-responsive">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Quarter</th>
                                                        <th>Subject</th>
                                                        <th>Send to Adviser</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% if class_records %}
                                                    {% for record in class_records %}
                                                    <tr>
                                                        <td>
                                                            <a class="record_id" href="{% url 'display_quarterly_summary' grade=record.grade section=record.section subject=record.subject class_record_id=record.id %}">{{record.quarters}}</a>
                                                        </td>
                                                        <td>{{ record.subject }}</td>
                                                        <td>
                                                            <a class="quarterly_id" title="Send" href="{% url 'transfer_quarterly_grade' grade=record.grade section=record.section subject=record.subject class_record_id=record.id %}">
                                                                <i class="fas fa-share"></i> <span class="ms-2"> Send</span>
                                                            </a>
                                                            
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    {% else %}
                                                    <tr>
                                                        <td colspan="4">No class records found.</td>
                                                    </tr>
                                                    {% endif %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="rankings" role="tabpanel" aria-labelledby="rankings">
                        <div class="container mt-4">
                            <div class="grid-margin stretch-card">
                                <div class="p-2 m-2">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h2>Subject Rankings</h2>
                                            <select class="form-select-sm" id="subjectSelect" onchange="toggleSubjectRankings()">
                                                <option value="" selected disabled>Select Subject</option>
                                                {% for subject in subjects %}
                                                <option value="{{ subject.subject }}">{{ subject.subject }}</option>
                                            {% endfor %}
                                            </select>
                                        </div>
                                        
                                        <div id="subjectRankings" class="mt-3">
                                            {% for subject, grades in subject_grades.items %}
                                                <div class="card subjectRanking p-4" id="{{ subject }}">
                                                    <h3 class="mt-2"><strong>Subject:</strong><em>{{ subject }}</em></h3>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th>Rank</th>
                                                                <th>Student Name</th>
                                                                <th>Grade</th>
                                                                <th>Remarks</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for grade in grades %}
                                                                <tr>
                                                                    <td>{{ forloop.counter }}</td>
                                                                    <td>{{ grade.student_name }}</td>
                                                                    <td>{{ grade.transmuted_grade }}</td>
                                                                    <td>{{ grade.remarks }}</td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <p id="noData" style="display: none;">No data available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>



            </section>
        </div>
    </div>
</section>
<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function toggleSubjectRankings() {
        var subjectSelect = document.getElementById("subjectSelect");
        var selectedSubject = subjectSelect.value;
        var subjectRankings = document.getElementById("subjectRankings");
        var noData = document.getElementById("noData");

        // Hide all subject rankings initially
        var subjectDivs = subjectRankings.getElementsByClassName("subjectRanking");
        for (var i = 0; i < subjectDivs.length; i++) {
            subjectDivs[i].style.display = "none";
        }

        // Show the selected subject's rankings
        if (selectedSubject) {
            var selectedSubjectDiv = document.getElementById(selectedSubject);
            if (selectedSubjectDiv) {
                selectedSubjectDiv.style.display = "block";
                noData.style.display = "none"; // Hide the "No data available" message
            } else {
                noData.style.display = "block"; // Show the "No data available" message if the subject is not found
            }
        } else {
            noData.style.display = "block"; // Show the "No data available" message if no subject is selected
        }
    }
</script>
<script>
    // JavaScript to handle the back button click event
    document.querySelector(".back-button").addEventListener("click", function () {
        window.history.back();
    });

    $(document).ready(function () {
        $(document).ready(function () {
        $('.btn-dropdown-toggle').dropdown();
    });

        $('.delete-record').click(function () {
            var recordId = $(this).data('record-id');
            
            // Confirm deletion (you may customize this part)
            if (confirm('Are you sure you want to delete this record?')) {
                $.ajax({
                    url: '{% url "delete_classrecord" class_record_id=999 %}'.replace('999', recordId),
                    type: 'post',
                    data: $('#deleteForm_' + recordId).serialize(),
                    success: function () {
                        // Update the content or redirect to the last URL as needed
                        location.reload();  // Reload the page, you may replace this with more specific updates
                    },
                    error: function () {
                        alert('An error occurred while deleting the record.');
                    }
                });
            }
        });
    });
</script>
<script>
    // Define the URL for generating the grade section list
    var get_grade_details = "{% url 'get_grade_details' %}";

    // Function to generate the grade section list URL and redirect to it
    var get_grade_details_List = function(grade, section) {
        // Construct the URL using Django template syntax
        var url = get_grade_details  + "?grade=" + encodeURIComponent(grade) + "&section=" + encodeURIComponent(section);
        
        // Redirect to the constructed URL
        window.location.href = url;
    };

    // Event listener for the button click
    document.getElementById("classRecordLink").addEventListener("click", function(event) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Retrieve the grade and section values from the Django context
        var grade = "{{ grade }}";
        var section = "{{ section }}";

        // Call the function to generate the grade section list
        get_grade_details_List(grade, section);
    });
</script>
<script>
    var generateGradeSectionListURL = "{% url 'generate_grade_section_list' %}";

    var generateGradeSectionList = function(grade, section) {
        // Construct the URL using Django template syntax
        var url = generateGradeSectionListURL + "?grade=" + encodeURIComponent(grade) + "&section=" + encodeURIComponent(section);
        
        // Redirect to the constructed URL
        window.location.href = url;
    };

    // Function to handle clicking on the "Generate Class Record" button
    document.getElementById("generateRecordButton").addEventListener("click", function(event) {
        // Prevent the default behavior of the link
        event.preventDefault();

        // Retrieve the grade and section values (you may adjust this based on your template)
        var grade = "{{ grade }}";
        var section = "{{ section }}";

        // Call the function to generate the grade section list
        generateGradeSectionList(grade, section);
    });
</script>
{% endblock main_content %}