{% extends 'teacher_template/teacher_base.html' %}
{% load static %}

{% block title %}
Inbox Messages
{% endblock title %}

{% block main_content %}
<section class="container-fluid">
    <h1>{{ subject }} Quarter Details</h1>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>No.</th>
                <th>Student</th>
                <th>First Quarter   </th>
                <th>Second Quarter  </th>
                <th>Third Quarter   </th>
                <th>Fourth Quarter  </th>
                <th>Final Grade</th>
            </tr>
        </thead>
        <tbody>
            {% for advisory_class in advisory_classes %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ advisory_class.student.name }}</td>
                <td class="first_quarter text-muted">{{ advisory_class.first_quarter|default_if_none:"0" }}</td>
                <td class="second_quarter text-muted">{{ advisory_class.second_quarter|default_if_none:"0" }}</td>
                <td class="third_quarter text-muted">{{ advisory_class.third_quarter|default_if_none:"0" }}</td>
                <td class="fourth_quarter text-muted">{{ advisory_class.fourth_quarter|default_if_none:"0" }}</td>
                
                <td class="finalGrade text-danger"></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>
</div>


</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('tbody tr').each(function() {
            var firstQuarter = parseFloat($(this).find('.first_quarter').text()) || 0;
            var secondQuarter = parseFloat($(this).find('.second_quarter').text()) || 0;
            var thirdQuarter = parseFloat($(this).find('.third_quarter').text()) || 0;
            var fourthQuarter = parseFloat($(this).find('.fourth_quarter').text()) || 0;

            var total = firstQuarter + secondQuarter + thirdQuarter + fourthQuarter;
            var finalGrade = total / 4;

            $(this).find('.finalGrade').text(finalGrade.toFixed(2)); // Round to 2 decimal places
        });
    });
</script>

{% endblock main_content %}
