{% extends 'teacher_template/adviserTeacher/adviser_teacher_base.html' %}
{% load static %}

{% block title %}
New Class List
{% endblock title %}

{% block main_content %}
<style>
  .center-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: opacity(0.4);
  }

  .thead {
    background: rgb(232, 232, 232);
  }

  .select_grade_section {
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
  }

  .back-button {
    color: #1027ac;
    font-size: 25px;
    padding: -2px;
    margin-top: -12px;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<section class="content container mt-2">
  <div class="d-sm-flex align-items-center justify-content-between border-bottom">
    <ul class="nav nav-tabs text" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#excel" role="tab" aria-controls="excel"
          aria-selected="true">Excel File</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#googlesheet" role="tab"
          aria-selected="false">Google Sheet</a>
      </li>
    </ul>
  </div>

  <div class="tab-content tab-content-basic students-tab ">

    <!-- EXCEL FILE -->
    <div class="tab-pane fade show active" id="excel" role="tabpanel" aria-labelledby="overview">
      <div class="card p-5 text-center">
        <div class="d-flex justify-content-between align-items-center">
          <a class="back-button">&larr;</a>
          <a class="help-toggle" title=""></a>
        </div>
        <h4>Upload Excel File</h4>
        <p>Please upload the Excel file (.xls, .xlsx)</p>
        <form method="post" id="form1" action="{% url 'upload' %}" class="container text-center d-flex flex-column"
          enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" class="form-control-sm" name="excel_file" id="excel_file" required>
          <button type="submit" id="upload_btn_1"
            class="btn btn-primary mt-3 container d-flex justify-content-center align-center">
            <span class="spinner-grow spinner-grow-sm me-2" id="loadingIndicator1" style="display: none;" role="status"
              aria-hidden="true"></span>
            Upload
          </button>
        </form>

        {% if messages %}
        <div class="container text-center mt-3">
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>

    <!-- GOOGLE SHEET LINK -->
    <div class="tab-pane fade show " id="googlesheet" role="tabpanel" aria-labelledby="googlesheet">
      <div class="card p-5 text-center">
        <div class="d-flex justify-content-end align-items-center">
          <a class="help-toggle"
            title="Please go to your Google Sheets account, open the file, copy the URL, and paste it here."><i
              class="fas fa-question-circle"></i></a>
        </div>
        <h4>Upload SF1 Data</h4>
        <p>Please paste the Google Sheet link containing your SF1 data below:</p>
        <form method="post" id="form2" action="{% url 'upload' %}" class="container text-center d-flex flex-column">
          {% csrf_token %}
          <input type="text" class="form-control" name="google_sheet_link" id="google_sheet_link"
            placeholder="Paste Here" required>
          <button type="submit" id="upload_btn_2"
            class="btn btn-primary mt-3 container d-flex justify-content-center align-center">
            <span class="spinner-grow spinner-grow-sm me-2" id="loadingIndicator2" style="display: none;" role="status"
              aria-hidden="true"></span>
            Upload
          </button>
        </form>

        {% if messages %}
        <div class="container text-center mt-3">
          {% for message in messages %}
          <div class="alert alert-danger" role="alert">
            {{ message }}
          </div>
          {% endfor %}
        </div>
        {% endif %}

      </div>
    </div>
  </div>

  {% csrf_token %}
  {% if lrn_data %}
  <!-- Modal -->
  <div class="modal fade" id="student-info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    role="dialog" aria-labelledby="student-infoLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable mt-2" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="student-infoLabel">Grade Section Selection</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Your table content goes here -->
          <div class="card list_information">
            <div class="card-header">
              <h6 class="p-1">School Information</h6>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush m-2">
                <li class="list-group-item">School ID: <span id="schoolID">{{ key_value_pairs.School_ID }}</span>
                    <input type="hidden" id="hiddenSchoolID" value="{{ key_value_pairs.School_ID }}">
                </li>
                <li class="list-group-item">Division: <span id="division">{{ key_value_pairs.Division }}</span>
                    <input type="hidden" id="hiddenDivision" value="{{ key_value_pairs.Division }}">
                </li>
                <li class="list-group-item">District: <span id="district">{{ key_value_pairs.District }}</span>
                    <input type="hidden" id="hiddenDistrict" value="{{ key_value_pairs.District }}">
                </li>
                <li class="list-group-item">School Name: <span id="schoolName">{{ key_value_pairs.School_Name }}</span>
                    <input type="hidden" id="hiddenSchoolName" value="{{ key_value_pairs.School_Name }}">
                </li>
                <li class="list-group-item">School Year: <span id="schoolYear">{{ key_value_pairs.School_Year }}</span>
                    <input type="hidden" id="hiddenSchoolYear" value="{{ key_value_pairs.School_Year }}">
                </li>
                <li class="list-group-item">Grade Level: <span id="gradeLevel">
                        {% if key_value_pairs.Grade_Level %}
                            {{ key_value_pairs.Grade_Level }}
                        {% elif key_value_pairs.Grade %}
                            {{ key_value_pairs.Grade }}
                        {% else %}
                            Grade
                        {% endif %}
                    </span>
                    <input type="hidden" id="hiddenGradeLevel" value="{% if key_value_pairs.Grade_Level %}{{ key_value_pairs.Grade_Level }}{% elif key_value_pairs.Grade %}{{ key_value_pairs.Grade }}{% else %}Grade{% endif %}">
                </li>
                <li class="list-group-item">Section: <span id="section">{{ key_value_pairs.Section }}</span>
                    <input type="hidden" id="hiddenSection" value="{{ key_value_pairs.Section }}">
                </li>
            </ul>
            


              <div class="d-flex justify-content-end align-items-center">
                <button id="saveGradeSection" class="btn btn-primary">Save</button>
              </div>
            </div>
          </div>

          <div class="card mt-3 list_students">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center p-1">
                <h6>Learners Information</h6>
                <h6>Total Students: {{ lrn_data|length }}</h6>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-hover" id="data-table">
                  <thead class="thead">
                    <tr>
                      <th>LRN</th>
                      <th>Name</th>
                      <th>Sex</th>
                      <th>Birthday</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for key, values in lrn_data.items %}
                    <tr>
                      <td>{{ key }}</td>
                      <td>{{ values.0.1 }}</td>
                      <td>{{ values.0.2 }}</td>
                      <td>{{ values.0.3 }}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- Add your modal body content here -->
      </div>
    </div>
  </div>
  {% endif %}


</section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.min.js"></script>

<script>
  // JavaScript to handle the back button click event
  document.querySelector(".back-button").addEventListener("click", function () {
    window.history.back();
  });

  // Your JavaScript
  document.getElementById('form1').addEventListener('submit', function () {
    // Show the loading indicator for Form 1
    document.getElementById('loadingIndicator1').style.display = 'block';

    // Optionally, you can disable the submit button to prevent multiple submissions
    document.getElementById('upload_btn_1').setAttribute('disabled', 'true');
  });

  document.getElementById('form2').addEventListener('submit', function () {
    // Show the loading indicator for Form 2
    document.getElementById('loadingIndicator2').style.display = 'block';

    // Optionally, you can disable the submit button to prevent multiple submissions
    document.getElementById('upload_btn_2').setAttribute('disabled', 'true');
  });

  document.addEventListener('DOMContentLoaded', function () {
    // Use JavaScript to trigger the modal
    var gradeSectionModal = new bootstrap.Modal(document.getElementById('student-info'));
    gradeSectionModal.show();
  });
</script>

{% endblock main_content %}