{% extends 'admin_template/admin_base.html' %}
{% block page_title %}
Add Teacher
{% endblock page_title %}
{% block main_content %}
{% load static %}
<section class="container">
    <div class="container-fluid">
        <h4 class="card-title">ADD SUBJECT</h4>
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Subject Name:</label>
                        <input type="text" id="name" name="name" required>
                    </div><br>
                
                    <div class="form-group">
                        <label for="assessment">Assessment (JSON format):</label>
                        <input type="text" id="assessment" name="assessment" placeholder='{"written_works_percentage": 40, "performance_task_percentage": 40, "quarterly_assessment_percentage": 20}' required>
                    </div><br>
                
                    <input type="submit" value="Add Subject">
                </form>
    </div>
        </div>
    </div>
</section>
{% endblock main_content %}
