{% extends 'admin_template/admin_base.html' %}
{% block page_title %}
Add Teacher
{% endblock page_title %}
{% block main_content %}
<section class="container">
    <div class="container-fluid">
        <h4 class="card-title">ADD SUBJECT</h4>
        <div class="card">
            <div class="card-body">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
        <label for="name">Subject Name:</label>
        <input type="text" id="name" name="name" required>
        </div><br>
        
        <div class="form-group">
        <label for="written_works_percentage">Written Works Percentage:</label>
        <input type="number" id="written_works_percentage" name="written_works_percentage" min="0" max="100" required>
        </div><br>

        <div class="form-group">
        <label for="performance_task_percentage">Performance Task Percentage:</label>
        <input type="number" id="performance_task_percentage" name="performance_task_percentage" min="0" max="100" required>
        </div><br>

        <div class="form-group">
        <label for="quarterly_assessment_percentage">Quarterly Assessment Percentage:</label>
        <input type="number" id="quarterly_assessment_percentage" name="quarterly_assessment_percentage" min="0" max="100" required>
        </div><br>

        <input type="submit" value="Add Subject">
    </form>
    </div>
        </div>
    </div>
</section>
{% endblock main_content %}
