{% extends 'admin_template/admin_base.html' %}

{% block page_title %}
Edit School Information
{% endblock page_title %}

{% block main_content %}
<style>
    .school_info>div {
        margin: 10px;
    }
</style>
<div class="container-fluid">
    <div class="card p-5">
    <h3>School Information</h3>
    <form method="post">
        {% csrf_token %}
        <div class="school_info">
        <div>
            <label class="form-text" for="region">Region:</label>
            <input type="text" class="form-control" id="region" name="region" value="{{ school.region }}">
        </div>

        <div>
            <label class="form-text" for="division">Division:</label>
            <input type="text" class="form-control" id="division" name="division" value="{{ school.division }}">
        </div>

        <div>
            <label class="form-text" for="school_id">School ID:</label>
            <input type="text" class="form-control" id="school_id" name="school_id" value="{{ school.school_id }}">
        </div>

        <div>
            <label class="form-text" for="school_name">School Name:</label>
            <input type="text" class="form-control" id="school_name" name="school_name" value="{{ school.school_name }}">
        </div>

        <div>
            <label class="form-text" for="district">District:</label>
            <input type="text" class="form-control" id="district" name="district" value="{{ school.district }}">
        </div>

        <div class="form-group">
            <label for="school_year">School Year (Ex. 2023 - 2024):</label>
            <input type="text" class="form-control" id="school_year" name="school_year" value="{{ school.school_year }}" pattern="\d{4}\s-\s\d{4}" title="Please enter the school year in the format: Year - Year (e.g., 2023 - 2024)">
            <!-- Add pattern attribute and title attribute for validation -->
            <small id="school_year_help" class="form-text text-muted">Please enter the school year in the format: Year - Year (e.g., 2023 - 2024)</small>
        </div>
        <div>
            <label class="form-text" for="principal">Principal</label>
            <input type="text" class="form-control" id="principal_name" name="principal_name" value="{{ school.principal_name }}">
        </div>

        <button type="submit" class="btn btn-primary ms-2">Save Changes</button>
        </div>
    </form>
</div>
</div>
{% endblock main_content %}