{% extends 'admin_template/admin_base.html' %}
{% block page_title %}
Manage Students
{% endblock page_title %}
{% block main_content %}
<style>
    .delete-student-btn {
    text-decoration: none;
    cursor: pointer;
    color: red;
    border: none;
    background: none;
    transition: color 0.3s; /* Smooth color transition */

    /* Shake animation on hover */
    position: relative;
}

.delete-student-btn:hover {
    color: darkred; /* Change color on hover */
    animation: shake 0.5s;
}

/* Define the shake animation */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.student-link{
    text-decoration: none;
}
</style>
<section class="container p-4">
    {% include 'admin_template/_green.html' %}
    <h3 class="mb-4 ">Manage Students</h3>
    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
        <ul class="nav nav-tabs text" role="tablist">
            <li class="nav-ite m">
                <a class="nav-link active " id="home-tab" data-bs-toggle="tab" href="#display" role="tab"
                    aria-controls="display" aria-selected="true">Display</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#create" role="tab"
                    aria-selected="false">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#update" role="tab"
                    aria-selected="false">Update</a>
            </li>
            <li class="nav-item">
                <a class="nav-link border-0" id="more-tab" data-bs-toggle="tab" href="#delete" role="tab"
                    aria-selected="false">Delete</a>
            </li>
        </ul>
    </div>

    <div class="tab-content tab-content-basic">
        <div class="tab-pane fade show active" id="display" role="tabpanel" aria-labelledby="display">
            <div class="container-fluid p-3 ">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title p-3">List of Students ( {{ grade }} {{ section }} )</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>LRN</th>
                                            <th>Learners Name</th>
                                            <th>Sex</th>
                                            <th>Birthday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in students %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ student.lrn }}
                                            </td>
                                            <td>
                                                {{ student.name }}
                                            </td>
                                            <td>
                                                {{ student.sex }}
                                            </td>
                                            <td>
                                                {{ student.birthday }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="tab-pane fade show" id="create" role="tabpanel" aria-labelledby="create">
            <div class="container-fluid p-3 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title p-3">Add Student ( {{ grade }} {{ section }} )</h4>
                        <form method="post" id="addStudentForm" action="{% url 'add_student' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="id_name">Name:</label>
                                <input type="text" class="form-control" id="id_name" name="name"
                                    placeholder="DELACRUZ, JUAN S." required>
                            </div>
                            <div class="form-group">
                                <label for="id_lrn">LRN:</label>
                                <input type="text" class="form-control" id="id_lrn" name="lrn"
                                    placeholder="000000000000" required>
                            </div>
                            <div class="form-group">
                                <label for="id_sex">Sex:</label>
                                <select id="id_sex" class="form-control" name="sex" required>
                                    <option value="">Select Sex</option>
                                    <option value="M">Male</option>
                                    <option value="F">Female</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="id_birthday">Birthday:</label>
                                <input type="date" class="form-control" id="id_birthday" name="birthday">
                            </div>
                            <div style="display: none;">
                                <!-- Pre-fill some fields with default values -->
                                <input type="text" name="school_id" placeholder="">
                                <input type="text" name="division" placeholder="">
                                <input type="text" name="district" placeholder="">
                                <input type="text" name="school_name" placeholder="">
                                <input type="text" name="school_year" placeholder="">
                                <input type="text" name="teacher_id" placeholder="">
                            </div>
                            <!-- Hidden fields for grade and section -->
                            <input type="hidden" name="grade" value="{{ grade }}">
                            <input type="hidden" name="section" value="{{ section }}">

                            <button type="button" class="btn btn-primary" id="submitBtn">Add Student</button>
                        </form>
                    </div>
                </div>
            </div>


        </div>

        <div class="tab-pane fade show " id="update" role="tabpanel" aria-labelledby="update">
            <div class="container-fluid p-3 ">
                <div class="card">
                  <div class="card-body">
                            <h4 class="card-title p-3">Update Student ( {{ grade }} {{ section }} )</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>LRN</th>
                                            <th>Learners Name</th>
                                            <th>Sex</th>
                                            <th>Birthday</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for student in students %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ student.lrn }}
                                            </td>
                                            <td>
                                                <a href="#" class="student-link" data-bs-toggle="modal"
                                                    data-bs-target="#studentModal" data-student-id="{{ student.id }}">
                                                    {{ student.name }}
                                                </a>
                                            </td>
                                            <td>
                                                {{ student.sex }}
                                            </td>
                                            <td>
                                                {{ student.birthday }}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        <div class="modal" id="studentModal" tabindex="-1" role="dialog" aria-labelledby="studentModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="studentModalLabel">Student Details</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="studentUpdate">
                            {% csrf_token %}
                            <input type="hidden" id="student_id" name="student_id">
                            <div class="form-group">
                                <label for="student_name">Name:</label>
                                <input type="text" class="form-control" id="student_name" name="student_name">
                            </div>
                            <button type="button" class="btn btn-primary" id="saveStudentBtn">Save Changes</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="tab-pane fade show" id="delete" role="tabpanel" aria-labelledby="delete">
            <div class="container-fluid p-3 ">
                <div class="card">
                  <div class="card-body">
                            <h4 class="card-title p-3">Delete Student ( {{ grade }} {{ section }} )</h4>
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>LRN</th>
                                            <th>Learners Name</th>
                                            <th>Sex</th>
                                            <th>Birthday</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for student in students %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ student.lrn }}
                                            </td>
                                            <td>      
                                                    {{ student.name }}
                                            </td>
                                            <td>
                                                {{ student.sex }}
                                            </td>
                                            <td>
                                                {{ student.birthday }}
                                            </td>
                                            <td>
                                                <button class=" delete-student-btn" data-student-id="{{ student.id }}">
                                                    <i class="fas fa-trash-alt"></i></button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        


</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {

        $('#id_name').on('input', function () {
            $(this).val($(this).val().toUpperCase());
        });

        $.ajax({
            url: '{% url "students" %}',  // Call the students view to get default values
            method: 'GET',
            data: { 'grade': "{{ combination.grade }}", 'section': "{{ combination.section }}" },
            success: function (response) {
                var defaultValues = response.default_values;

                // Set placeholders
                $('input[name="school_id"]').attr('placeholder', defaultValues.school_id);
                $('input[name="division"]').attr('placeholder', defaultValues.division);
                $('input[name="district"]').attr('placeholder', defaultValues.district);
                $('input[name="school_name"]').attr('placeholder', defaultValues.school_name);
                $('input[name="school_year"]').attr('placeholder', defaultValues.school_year);
                $('input[name="teacher_id"]').attr('placeholder', defaultValues.teacher_id);
            },
            error: function (error) {
                console.error('Error fetching default values:', error);
            }
        });
        $('#submitBtn').click(function () {
            // Get form data
            var formData = $('#addStudentForm').serialize();
            // Send AJAX request
            $.ajax({
                type: 'POST',
                url: '{% url "add_student" %}',
                data: formData,
                success: function (response) {
                    // Handle success response (e.g., redirect or display a message)
                    alert('Student added successfully!');
                    // You can also redirect to the student list page
                    location.reload();
                },
                error: function (error) {
                    // Handle error response (e.g., display an error message)
                    alert('Error adding student!');
                }
            });
        });
    });
</script>
<script>
    $(document).ready(function () {
        // Initialize Bootstrap modal
        var studentModal = new bootstrap.Modal(document.getElementById('studentModal'));

        $('.student-link').click(function () {
            var studentId = $(this).data('student-id');
            console.log(studentId);
            $('#studentModal').modal('show');
            // AJAX request to fetch student details
            $.ajax({
    url: 'get_student_details',
    type: 'GET',
    data: { 'studentId': studentId },  // Make sure 'studentId' is a valid numeric value
    success: function (data) {
        // Populate modal fields
        $('#student_id').val(studentId);  // Make sure 'studentId' is a valid numeric value
        $('#student_name').val(data.name);
        // Add similar lines for other fields if needed
    },
    error: function (error) {
        console.error('Error fetching student details:', error);
    }
});
        });
        // Handle form submission
    $('#saveStudentBtn').click(function () {
        // AJAX request to update student details
        $.ajax({
            url: 'update_student_details',
            type: 'POST',
            data: $('#studentUpdate').serialize(),
            success: function (response) {
                // Handle success (e.g., close the modal, show a success message)
                studentModal.hide();
                alert('Student details updated successfully!');
                location.reload();
            },
            error: function (error) {
                console.error('Error updating student details:', error);
            }
        });
    });
     // Set up CSRF token for AJAX requests
     var csrfToken = $('[name=csrfmiddlewaretoken]').val();
    $.ajaxSetup({
        headers: {
            'X-CSRFToken': csrfToken
        }
    });

    $('.delete-student-btn').click(function () {
        var studentId = $(this).data('student-id');

        // Confirm before deleting
        var confirmDelete = confirm('Are you sure you want to delete this student?');
        if (!confirmDelete) {
            return;  // User cancelled the deletion
        }

        // AJAX request to delete student
        $.ajax({
            url: 'delete_student',
            type: 'POST',
            data: { 'student_id': studentId },
            success: function (response) {
                // Handle success (e.g., remove the student row from the table)
                $(`.student-row[data-student-id="${studentId}"]`).remove();
                alert('Student deleted successfully!');
                location.reload();
            },
            error: function (error) {
                console.error('Error deleting student:', error);
            }
        });
    });
    });

</script>



{% endblock main_content %}