{% extends 'admin_template/admin_base.html' %}

{% block page_title %}
upload
{% endblock page_title %}

{% block main_content %}
<style>
    .table-container {
        max-height: 500px;
        /* Set your desired maximum height */
        overflow-y: auto;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th,
    td {
        font-size: small;
        padding: 10px;
        text-align: center;

    }

    td {
        color: #737F8B;
    }

    .search-icon {
        border: none;
        color: #1F3BB3;
        background: transparent;
    }

    .search-icon:hover {
        color: #000000;
        border-radius: 0;
    }
</style>
<div class="container-fluid p-3 ">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-between mb-4 p-1">
                <div class="d-flex justify-content-start align-items">
                    <h3>School Form 10</h3>
                </div>

                <form class="d-flex justify-content-between align-items-center">
                    <input class="form-control" type="search" name="search" placeholder="Search..."
                        value="{{ search_query }}">
                    <button class="search-icon  fa fa-search" type="submit"></button>
                </form>
            </div>
            <div class="table-container">
                <div>

                    <table>
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Sex</th>
                                <th>BirthDate</th>
                                <th>LRN</th>
                                <th>School Year</th>
                                <th>Grade</th>
                                <th>School</th>
                                <th>General Average</th>
                                <th>Document</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for extracted_data in all_extracted_data %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ extracted_data.last_name }}</td>
                                <td>{{ extracted_data.first_name }}</td>
                                <td>{{ extracted_data.middle_name }}</td>
                                <td>{{ extracted_data.sex }}</td>
                                <td>{{ extracted_data.birthdate }}</td>
                                <td>{{ extracted_data.lrn }}</td>
                                <td>{{ extracted_data.school_year }}</td>
                                <td>{{ extracted_data.classified_as_grade }}</td>
                                <td>{{ extracted_data.name_of_school }}</td>
                                <td>{{ extracted_data.general_average }}</td>
                                <td>
                                    <a href="{% url 'download_processed_document' id=extracted_data.id %}" class="btn btn-sm btn-primary" download>Download</a>
                                        <a href="{% url 'sf10_edit_view' extracted_data.id %}" class="btn btn-sm btn-info">Edit</a>

                                        <!-- Delete Button -->
                                        <form method="post" action="{% url 'sf10_delete' %}"  onsubmit="return confirm('Are you sure you want to delete this record? This action cannot be undone.');">
                                            {% csrf_token %}
                                            <input type="hidden" name="delete_id" value="{{ extracted_data.id }}">
                                            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                        </form>
                                </td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td>No extracted data available</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // Check if the URL contains a success parameter
    const urlParams = new URLSearchParams(window.location.search);
    const successParam = urlParams.get('success');

    // If success parameter is present, show an alert
    if (successParam === 'true') {
        alert('SF10 information updated successfully.');
    }
</script>
{% endblock main_content %}