{% extends 'admin_template/admin_base.html' %}
{% block page_title %}
Manage Students
{% endblock page_title %}
{% block main_content %}
<section class=" container p-4">
    <h3 class="mb-4 ">Manage Students</h3>
    
            <form method="post" class="w-100">
                {% csrf_token %}
                <div class="mt-5">
                    {% if unique_grades_sections %}
                        <ul class="d-flex flex-wrap justify-content-start align-items-center">
                            {% for combination in unique_grades_sections %}
                            <li class="d-block p-2 ">
                                <div class="btn-group ">
                                    <button type="button" class="folder d-flex justify-content-evenly align-items-center py-auto p-1 btn btn-secondary" onclick="showStudentList('{{ combination.grade }}', '{{ combination.section }}')">
                                        <div class="btn-group ">
                                            <svg height="24px" width="24px" focusable="false" viewBox="0 0 24 24" fill="#5f6368">
                                                <g>
                                                    <path d="M20 6h-8l-2-2H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2zm-5 3c1.1 0 2 .9 2 2s-.9 2-2 2s-2-.9-2-2s.9-2 2-2zm4 8h-8v-1c0-1.33 2.67-2 4-2s4 .67 4 2v1z"></path>
                                                    <path d="M0 0h24v24H0z" fill="none"></path>
                                                </g>
                                            </svg>
                                        </div>
                                        <div class="btn-group">
                                            {{ combination.grade }} {{ combination.section }}
                                        </div>
                                    </button>
                            
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-secondary btn-dropdown-toggle dropdown-toggle-split" 
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg class="c-qd" width="20px" height="20px" viewBox="0 0 20 20" focusable="false" fill="currentColor">
                                                <path fill="none" d="M0 0h20v20H0V0z"></path>
                                                <path d="M10 6c.82 0 1.5-.68 1.5-1.5S10.82 3 10 3s-1.5.67-1.5 1.5S9.18 6 10 6zm0 5.5c.82 0 1.5-.68 1.5-1.5s-.68-1.5-1.5-1.5-1.5.68-1.5 1.5.68 1.5 1.5 1.5zm0 5.5c.82 0 1.5-.67 1.5-1.5 0-.82-.68-1.5-1.5-1.5s-1.5.68-1.5 1.5c0 .83.68 1.5 1.5 1.5z"></path>
                                            </svg>
                                        </button>
                                        <div class="dropdown-menu delete-dropdown p-2">
                                            <a class="dropdown-item text-danger" href="#" onclick="return confirm('Are you sure you want to delete this class? This action cannot be undone.');">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No class records available.</p>
                    {% endif %}
                </div>
            </form>
       

</section>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    var showStudentList = function(grade, section) {
        var url = "{% url 'student_lists' %}?grade=" + encodeURIComponent(grade) + "&section=" + encodeURIComponent(section);
        window.location.href = url;
    };

</script>
{% endblock main_content %}