{% extends 'admin_template/admin_base.html' %}
{% block page_title %}
Subject List
{% endblock page_title %}
{% block main_content %}
  <h1>Subject List</h1>
  <table class="table">
    <a href="{% url 'add_subject' %}" class="btn btn-primary">Add Subject</a>
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Subject Name</th>
        <th scope="col">Written Works Percentage</th>
        <th scope="col">Performance Task Percentage</th>
        <th scope="col">Quarterly Assessment Percentage</th>
        <th scope="col">Actions</th> <!-- Added Actions column -->
      </tr>
    </thead>
    <tbody>
      {% for subject in subjects %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ subject.name }}</td>
          <td>{{ subject.written_works_percentage }}%</td>
          <td>{{ subject.performance_task_percentage }}%</td>
          <td>{{ subject.quarterly_assessment_percentage }}%</td>
          <td>
            <a href="{% url 'update_subject' subject.id %}" class="btn btn-primary">Edit</a> <!-- Edit button -->
            <a href="{% url 'delete_subject' subject.id %}" class="btn btn-danger">Delete</a> <!-- Delete button -->
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main_content %}
