{% extends 'admin_template/admin_base.html' %}

{% block page_title %}
    Update Core Values
{% endblock page_title %}

{% block main_content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Update Core Values</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Update Core Values</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
